.tp-color-theme-ventilamed {
  --tp-color-contrast-fixed: hsl(188, 10%, 98%);
  --tp-color-contrast-fixed-rgb: 249, 250, 250;
  --tp-color-brand: hsl(29, 80%, 40%);
  --tp-color-brand-rgb: 184, 99, 20;
  --tp-color-brand-shade: hsl(29, 80%, 35%);
  --tp-color-brand-tint: hsl(29, 80%, 45%);
  --tp-color-brand-1: hsl(29, 80%, 20%);
  --tp-color-brand-1-rgb: 92, 50, 10;
  --tp-color-brand-1-shade: hsl(29, 80%, 15%);
  --tp-color-brand-1-tint: hsl(29, 80%, 25%);
  --tp-color-brand-2: hsl(29, 80%, 30%);
  --tp-color-brand-2-rgb: 138, 74, 15;
  --tp-color-brand-2-shade: hsl(29, 80%, 25%);
  --tp-color-brand-2-tint: hsl(29, 80%, 35%);
  --tp-color-brand-3: hsl(29, 80%, 40%);
  --tp-color-brand-3-rgb: 184, 99, 20;
  --tp-color-brand-3-shade: hsl(29, 80%, 35%);
  --tp-color-brand-3-tint: hsl(29, 80%, 45%);
  --tp-color-brand-4: hsl(29, 80%, 60%);
  --tp-color-brand-4-rgb: 235, 150, 71;
  --tp-color-brand-4-shade: hsl(29, 80%, 55%);
  --tp-color-brand-4-tint: hsl(29, 80%, 65%);
  --tp-color-brand-5: hsl(29, 80%, 80%);
  --tp-color-brand-5-rgb: 245, 203, 163;
  --tp-color-brand-5-shade: hsl(29, 80%, 75%);
  --tp-color-brand-5-tint: hsl(29, 80%, 85%);
}

.tp-color-scheme-light.tp-color-theme-ventilamed {
  --tp-color-contrast-fixed: hsl(188, 10%, 98%);
  --tp-color-contrast-fixed-rgb: 249, 250, 250;
  --tp-color-brand: hsl(29, 40%, 40%);
  --tp-color-brand-rgb: 143, 101, 61;
  --tp-color-brand-shade: hsl(29, 40%, 35%);
  --tp-color-brand-tint: hsl(29, 40%, 45%);
  --tp-color-brand-1: hsl(29, 40%, 80%);
  --tp-color-brand-1-rgb: 224, 203, 184;
  --tp-color-brand-1-shade: hsl(29, 40%, 75%);
  --tp-color-brand-1-tint: hsl(29, 40%, 85%);
  --tp-color-brand-2: hsl(29, 40%, 90%);
  --tp-color-brand-2-rgb: 240, 229, 219;
  --tp-color-brand-2-shade: hsl(29, 40%, 85%);
  --tp-color-brand-2-tint: hsl(29, 40%, 95%);
  --tp-color-brand-3: hsl(29, 40%, 100%);
  --tp-color-brand-3-rgb: 255, 255, 255;
  --tp-color-brand-3-shade: hsl(29, 40%, 95%);
  --tp-color-brand-3-tint: hsl(29, 40%, 100%);
  --tp-color-brand-4: hsl(29, 40%, 100%);
  --tp-color-brand-4-rgb: 255, 255, 255;
  --tp-color-brand-4-shade: hsl(29, 40%, 100%);
  --tp-color-brand-4-tint: hsl(29, 40%, 100%);
  --tp-color-brand-5: hsl(29, 40%, 100%);
  --tp-color-brand-5-rgb: 255, 255, 255;
  --tp-color-brand-5-shade: hsl(29, 40%, 100%);
  --tp-color-brand-5-tint: hsl(29, 40%, 100%);
}

.ion-color-brand,
[tp-color=brand] {
  --ion-color-base: var(--tp-color-brand) !important;
  --ion-color-base-rgb: var(--tp-color-brand-rgb) !important;
  --ion-color-contrast: var(--tp-color-contrast-fixed) !important;
  --ion-color-contrast-rgb: var(
    --tp-color-contrast-fixed-rgb
  ) !important;
  --ion-color-shade: var(--tp-color-brand-shade) !important;
  --ion-color-tint: var(--tp-color-brand-tint) !important;
}

.ion-color-brand-1,
[tp-color=brand-1] {
  --ion-color-base: var(--tp-color-brand-1) !important;
  --ion-color-base-rgb: var(
    --tp-color-brand-1-rgb
  ) !important;
  --ion-color-contrast: var(--tp-color-neutral-10) !important;
  --ion-color-contrast-rgb: var(
    --tp-color-neutral-10-rgb
  ) !important;
  --ion-color-shade: var(
    --tp-color-brand-1-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-brand-1-tint
  ) !important;
}

.ion-color-brand-2,
[tp-color=brand-2] {
  --ion-color-base: var(--tp-color-brand-2) !important;
  --ion-color-base-rgb: var(
    --tp-color-brand-2-rgb
  ) !important;
  --ion-color-contrast: var(--tp-color-neutral-10) !important;
  --ion-color-contrast-rgb: var(
    --tp-color-neutral-10-rgb
  ) !important;
  --ion-color-shade: var(
    --tp-color-brand-2-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-brand-2-tint
  ) !important;
}

.ion-color-brand-3,
[tp-color=brand-3] {
  --ion-color-base: var(--tp-color-brand-3) !important;
  --ion-color-base-rgb: var(
    --tp-color-brand-3-rgb
  ) !important;
  --ion-color-contrast: var(
    --tp-color-contrast-fixed
  ) !important;
  --ion-color-contrast-rgb: var(
    --tp-color-contrast-fixed-rgb
  ) !important;
  --ion-color-shade: var(
    --tp-color-brand-3-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-brand-3-tint
  ) !important;
}

.ion-color-brand-4,
[tp-color=brand-4] {
  --ion-color-base: var(--tp-color-brand-4) !important;
  --ion-color-base-rgb: var(
    --tp-color-brand-4-rgb
  ) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(
    --tp-color-neutral-1-rgb
  ) !important;
  --ion-color-shade: var(
    --tp-color-brand-4-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-brand-4-tint
  ) !important;
}

.ion-color-brand-5,
[tp-color=brand-5] {
  --ion-color-base: var(--tp-color-brand-5) !important;
  --ion-color-base-rgb: var(
    --tp-color-brand-5-rgb
  ) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(
    --tp-color-neutral-1-rgb
  ) !important;
  --ion-color-shade: var(
    --tp-color-brand-5-shade
  ) !important;
  --ion-color-tint: var(
    --tp-color-brand-5-tint
  ) !important;
}

.tp-color-brand,
[tp-color=brand] {
  --tp-color-base: var(--tp-color-brand) !important;
  --tp-color-base-rgb: var(--tp-color-brand-rgb) !important;
  --tp-color-contrast: var(--tp-color-contrast-fixed) !important;
  --tp-color-contrast-rgb: var(
    --tp-color-contrast-fixed-rgb
  ) !important;
  --tp-color-shade: var(--tp-color-brand-shade) !important;
  --tp-color-tint: var(--tp-color-brand-tint) !important;
}

.tp-color-brand-1,
[tp-color=brand-1] {
  --tp-color-base: var(--tp-color-brand-1) !important;
  --tp-color-base-rgb: var(
    --tp-color-brand-1-rgb
  ) !important;
  --tp-color-contrast: var(--tp-color-neutral-10) !important;
  --tp-color-contrast-rgb: var(
    --tp-color-neutral-10-rgb
  ) !important;
  --tp-color-shade: var(
    --tp-color-brand-1-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-brand-1-tint
  ) !important;
}

.tp-color-brand-2,
[tp-color=brand-2] {
  --tp-color-base: var(--tp-color-brand-2) !important;
  --tp-color-base-rgb: var(
    --tp-color-brand-2-rgb
  ) !important;
  --tp-color-contrast: var(--tp-color-neutral-10) !important;
  --tp-color-contrast-rgb: var(
    --tp-color-neutral-10-rgb
  ) !important;
  --tp-color-shade: var(
    --tp-color-brand-2-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-brand-2-tint
  ) !important;
}

.tp-color-brand-3,
[tp-color=brand-3] {
  --tp-color-base: var(--tp-color-brand-3) !important;
  --tp-color-base-rgb: var(
    --tp-color-brand-3-rgb
  ) !important;
  --tp-color-contrast: var(
    --tp-color-contrast-fixed
  ) !important;
  --tp-color-contrast-rgb: var(
    --tp-color-contrast-fixed-rgb
  ) !important;
  --tp-color-shade: var(
    --tp-color-brand-3-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-brand-3-tint
  ) !important;
}

.tp-color-brand-4,
[tp-color=brand-4] {
  --tp-color-base: var(--tp-color-brand-4) !important;
  --tp-color-base-rgb: var(
    --tp-color-brand-4-rgb
  ) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(
    --tp-color-neutral-1-rgb
  ) !important;
  --tp-color-shade: var(
    --tp-color-brand-4-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-brand-4-tint
  ) !important;
}

.tp-color-brand-5,
[tp-color=brand-5] {
  --tp-color-base: var(--tp-color-brand-5) !important;
  --tp-color-base-rgb: var(
    --tp-color-brand-5-rgb
  ) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(
    --tp-color-neutral-1-rgb
  ) !important;
  --tp-color-shade: var(
    --tp-color-brand-5-shade
  ) !important;
  --tp-color-tint: var(
    --tp-color-brand-5-tint
  ) !important;
}

/*# sourceMappingURL=ventilamed.css.map */

/*# sourceMappingURL=ventilamed.css.map */
