:host {
  --background: #{tp-color(neutral, 2)};
  --color: #{tp-color-contrast(neutral, 2, neutral)};
  --icon-stroke: #{tp-color-contrast(neutral, 2, neutral)};
}

:host {
  display: block;
  padding: 1rem 2rem;
  color: var(--color);
  background: var(--background);
}

.tp-test {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    --stroke: var(--icon-stroke);
  }
}

:host(.tp-color) {
  --background: var(--tp-color-base);
  --color: var(--tp-color-contrast);
  --icon-stroke: var(--tp-color-contrast);
}
