:host {
  --background: #{tp-color(neutral, 2)};
  --color: #{tp-color-contrast(neutral, 2, neutral)};
  --icon-stroke: #{tp-color-contrast(neutral, 2, neutral)};
  --background-hover: #{tp-color(neutral, 2, null, shade)};
  --background-focus: #{tp-color(neutral, 2, null, tint)};
}

:host {
  display: block;
  padding: 1rem 2rem;
  color: var(--color);
  background: var(--background);
  transition: background-color 250ms;
}

.tp-test {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    --stroke: var(--icon-stroke);
  }
}

:host(:hover) {
  background: var(--background-hover);
}

:host(:focus) {
  background: var(--background-focus);
}

:host(.tp-color) {
  --background: #{tp-color-current(base)};
  --color: #{tp-color-current(contrast)};
  --icon-stroke: #{tp-color-current(contrast)};

  --background-hover: #{tp-color-current(shade)};
  --background-focus: #{tp-color-current(tint)};
}
