# root
core/
angular/
.stylelintcache

# packages
# core
packages/core/.stencil
packages/core/dist
packages/core/loader
packages/core/www
packages/core/.storybook/preview.ts
packages/core/storybook-static

# angular-lib
packages/angular/.angular
packages/angular/dist
