# root
tp-core/
tp-angular/

# packages
# core
packages/core/.stencil
packages/core/dist
packages/core/loader
packages/core/www
packages/core/.storybook/preview.ts
packages/core/storybook-static

# angular-lib
packages/angular/.angular
packages/angular/dist

# institucional
packages/institucional/.angular
packages/institucional/dist
packages/institucional/storybook-static
