# root
core/
angular/

# packages
# core
packages/core/.stencil
packages/core/dist
packages/core/loader
packages/core/www
packages/core/.storybook/preview.ts
packages/core/storybook-static

# angular
packages/angular/.angular
packages/angular/dist

# projects/core
# app-angular
projects/core/app-angular/.angular
projects/core/app-angular/dist

# ionic-angular
projects/core/ionic-angular/.angular
projects/core/ionic-angular/dist

# projects/angular
# app-angular
projects/angular/app-angular/.angular
projects/angular/app-angular/dist

# ionic-angular
projects/angular/ionic-angular/.angular
projects/angular/ionic-angular/dist
