:host {
  display: block;
}

.tp-segment-container {
  position: relative;

  &::before {
    position: fixed;
    right: 0;
    width: 32px;
    height: 48px;
    background: linear-gradient(
      to right,
      transparent,
      var(--tp-color-neutral-8)
    );
    content: '';
  }
}
