[type=h64],
[type=h64] * {
  font-size: 64px !important;
  font-weight: 600 !important;
  line-height: 64px !important;
  margin: 0;
}

[type=h48],
[type=h48] * {
  font-size: 48px !important;
  font-weight: 600 !important;
  line-height: 48px !important;
  margin: 0;
}

[type=h48x],
[type=h48x] * {
  font-size: 48px !important;
  font-weight: 600 !important;
  line-height: 64px !important;
  margin: 0;
}

[type=h32],
[type=h32] * {
  font-size: 32px !important;
  font-weight: 600 !important;
  line-height: 32px !important;
  margin: 0;
}

[type=h32x],
[type=h32x] * {
  font-size: 32px !important;
  font-weight: 600 !important;
  line-height: 40px !important;
  margin: 0;
}

[type=h24],
[type=h24] * {
  font-size: 24px !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  margin: 0;
}

[type=h24x],
[type=h24x] * {
  font-size: 24px !important;
  font-weight: 600 !important;
  line-height: 32px !important;
  margin: 0;
}

[type=h20],
[type=h20] * {
  font-size: 20px !important;
  font-weight: 600 !important;
  line-height: 20px !important;
  margin: 0;
}

[type=h20x],
[type=h20x] * {
  font-size: 20px !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  margin: 0;
}

[type=p18x],
[type=p18x] * {
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 32px !important;
  margin: 0;
}

[type=p18xb],
[type=p18xb] * {
  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: 32px !important;
  margin: 0;
}

[type=p16],
[type=p16] * {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 16px !important;
  margin: 0;
}

[type=p16b],
[type=p16b] * {
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 16px !important;
  margin: 0;
}

[type=p16x],
[type=p16x] * {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  margin: 0;
}

[type=p16xb],
[type=p16xb] * {
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  margin: 0;
}

[type=p14],
[type=p14] * {
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 16px !important;
  margin: 0;
}

[type=p14b],
[type=p14b] * {
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 16px !important;
  margin: 0;
}

[type=p14x],
[type=p14x] * {
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  margin: 0;
}

[type=p14xb],
[type=p14xb] * {
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 20px !important;
  margin: 0;
}

[type=p12],
[type=p12] * {
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 12px !important;
  margin: 0;
}

[type=p12b],
[type=p12b] * {
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 12px !important;
  margin: 0;
}

[type=p12x],
[type=p12x] * {
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 16px !important;
  margin: 0;
}

[type=p12xb],
[type=p12xb] * {
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 16px !important;
  margin: 0;
}

[type=p10],
[type=p10] * {
  font-size: 10px !important;
  font-weight: 400 !important;
  line-height: 12px !important;
  margin: 0;
}

[type=p10b],
[type=p10b] * {
  font-size: 10px !important;
  font-weight: 600 !important;
  line-height: 12px !important;
  margin: 0;
}

/*# sourceMappingURL=templarios.css.map */
