/* stylelint-disable max-nesting-depth */
/* stylelint-enable max-nesting-depth */
.tp-color-theme-medsoft {
  --tp-color-aula-hue: 168;
  --tp-color-material-hue: 24;
  --tp-color-questoes-hue: 200;
  --tp-color-revalida-hue: 342;
  --tp-color-provas-hue: 268;
  --tp-color-aula: var(--tp-color-aula-hue),
    var(--tp-color-aula-saturation, var(--tp-color-saturation)),
    var(--tp-color-aula-luminosity-3, var(--tp-color-luminosity-3));
  --tp-color-aula-1: var(--tp-color-aula-hue),
    var(--tp-color-aula-saturation, var(--tp-color-saturation)),
    var(
      --tp-color-aula-luminosity-1,
      var(--tp-color-luminosity-1)
    );
  --tp-color-aula-2: var(--tp-color-aula-hue),
    var(--tp-color-aula-saturation, var(--tp-color-saturation)),
    var(
      --tp-color-aula-luminosity-2,
      var(--tp-color-luminosity-2)
    );
  --tp-color-aula-3: var(--tp-color-aula-hue),
    var(--tp-color-aula-saturation, var(--tp-color-saturation)),
    var(
      --tp-color-aula-luminosity-3,
      var(--tp-color-luminosity-3)
    );
  --tp-color-aula-4: var(--tp-color-aula-hue),
    var(--tp-color-aula-saturation, var(--tp-color-saturation)),
    var(
      --tp-color-aula-luminosity-4,
      var(--tp-color-luminosity-4)
    );
  --tp-color-aula-5: var(--tp-color-aula-hue),
    var(--tp-color-aula-saturation, var(--tp-color-saturation)),
    var(
      --tp-color-aula-luminosity-5,
      var(--tp-color-luminosity-5)
    );
  --tp-color-material: var(--tp-color-material-hue),
    var(--tp-color-material-saturation, var(--tp-color-saturation)),
    var(--tp-color-material-luminosity-3, var(--tp-color-luminosity-3));
  --tp-color-material-1: var(--tp-color-material-hue),
    var(--tp-color-material-saturation, var(--tp-color-saturation)),
    var(
      --tp-color-material-luminosity-1,
      var(--tp-color-luminosity-1)
    );
  --tp-color-material-2: var(--tp-color-material-hue),
    var(--tp-color-material-saturation, var(--tp-color-saturation)),
    var(
      --tp-color-material-luminosity-2,
      var(--tp-color-luminosity-2)
    );
  --tp-color-material-3: var(--tp-color-material-hue),
    var(--tp-color-material-saturation, var(--tp-color-saturation)),
    var(
      --tp-color-material-luminosity-3,
      var(--tp-color-luminosity-3)
    );
  --tp-color-material-4: var(--tp-color-material-hue),
    var(--tp-color-material-saturation, var(--tp-color-saturation)),
    var(
      --tp-color-material-luminosity-4,
      var(--tp-color-luminosity-4)
    );
  --tp-color-material-5: var(--tp-color-material-hue),
    var(--tp-color-material-saturation, var(--tp-color-saturation)),
    var(
      --tp-color-material-luminosity-5,
      var(--tp-color-luminosity-5)
    );
  --tp-color-questoes: var(--tp-color-questoes-hue),
    var(--tp-color-questoes-saturation, var(--tp-color-saturation)),
    var(--tp-color-questoes-luminosity-3, var(--tp-color-luminosity-3));
  --tp-color-questoes-1: var(--tp-color-questoes-hue),
    var(--tp-color-questoes-saturation, var(--tp-color-saturation)),
    var(
      --tp-color-questoes-luminosity-1,
      var(--tp-color-luminosity-1)
    );
  --tp-color-questoes-2: var(--tp-color-questoes-hue),
    var(--tp-color-questoes-saturation, var(--tp-color-saturation)),
    var(
      --tp-color-questoes-luminosity-2,
      var(--tp-color-luminosity-2)
    );
  --tp-color-questoes-3: var(--tp-color-questoes-hue),
    var(--tp-color-questoes-saturation, var(--tp-color-saturation)),
    var(
      --tp-color-questoes-luminosity-3,
      var(--tp-color-luminosity-3)
    );
  --tp-color-questoes-4: var(--tp-color-questoes-hue),
    var(--tp-color-questoes-saturation, var(--tp-color-saturation)),
    var(
      --tp-color-questoes-luminosity-4,
      var(--tp-color-luminosity-4)
    );
  --tp-color-questoes-5: var(--tp-color-questoes-hue),
    var(--tp-color-questoes-saturation, var(--tp-color-saturation)),
    var(
      --tp-color-questoes-luminosity-5,
      var(--tp-color-luminosity-5)
    );
  --tp-color-revalida: var(--tp-color-revalida-hue),
    var(--tp-color-revalida-saturation, var(--tp-color-saturation)),
    var(--tp-color-revalida-luminosity-3, var(--tp-color-luminosity-3));
  --tp-color-revalida-1: var(--tp-color-revalida-hue),
    var(--tp-color-revalida-saturation, var(--tp-color-saturation)),
    var(
      --tp-color-revalida-luminosity-1,
      var(--tp-color-luminosity-1)
    );
  --tp-color-revalida-2: var(--tp-color-revalida-hue),
    var(--tp-color-revalida-saturation, var(--tp-color-saturation)),
    var(
      --tp-color-revalida-luminosity-2,
      var(--tp-color-luminosity-2)
    );
  --tp-color-revalida-3: var(--tp-color-revalida-hue),
    var(--tp-color-revalida-saturation, var(--tp-color-saturation)),
    var(
      --tp-color-revalida-luminosity-3,
      var(--tp-color-luminosity-3)
    );
  --tp-color-revalida-4: var(--tp-color-revalida-hue),
    var(--tp-color-revalida-saturation, var(--tp-color-saturation)),
    var(
      --tp-color-revalida-luminosity-4,
      var(--tp-color-luminosity-4)
    );
  --tp-color-revalida-5: var(--tp-color-revalida-hue),
    var(--tp-color-revalida-saturation, var(--tp-color-saturation)),
    var(
      --tp-color-revalida-luminosity-5,
      var(--tp-color-luminosity-5)
    );
  --tp-color-provas: var(--tp-color-provas-hue),
    var(--tp-color-provas-saturation, var(--tp-color-saturation)),
    var(--tp-color-provas-luminosity-3, var(--tp-color-luminosity-3));
  --tp-color-provas-1: var(--tp-color-provas-hue),
    var(--tp-color-provas-saturation, var(--tp-color-saturation)),
    var(
      --tp-color-provas-luminosity-1,
      var(--tp-color-luminosity-1)
    );
  --tp-color-provas-2: var(--tp-color-provas-hue),
    var(--tp-color-provas-saturation, var(--tp-color-saturation)),
    var(
      --tp-color-provas-luminosity-2,
      var(--tp-color-luminosity-2)
    );
  --tp-color-provas-3: var(--tp-color-provas-hue),
    var(--tp-color-provas-saturation, var(--tp-color-saturation)),
    var(
      --tp-color-provas-luminosity-3,
      var(--tp-color-luminosity-3)
    );
  --tp-color-provas-4: var(--tp-color-provas-hue),
    var(--tp-color-provas-saturation, var(--tp-color-saturation)),
    var(
      --tp-color-provas-luminosity-4,
      var(--tp-color-luminosity-4)
    );
  --tp-color-provas-5: var(--tp-color-provas-hue),
    var(--tp-color-provas-saturation, var(--tp-color-saturation)),
    var(
      --tp-color-provas-luminosity-5,
      var(--tp-color-luminosity-5)
    );
}
.tp-color-theme-medsoft .ion-color-aula {
  --ion-color-base: hsl(var(--tp-color-aula)) !important;
  --ion-color-base-rgb: var(--tp-color-aula) !important;
  --ion-color-contrast: hsl(var(--tp-color-contrast-fixed)) !important;
}
.tp-color-theme-medsoft .ion-color-aula-1 {
  --ion-color-base: hsl(var(--tp-color-aula-1)) !important;
  --ion-color-base-rgb: var(--tp-color-aula-1) !important;
  --ion-color-contrast: hsl(var(--tp-color-neutral-10)) !important;
}
.tp-color-theme-medsoft .ion-color-aula-2 {
  --ion-color-base: hsl(var(--tp-color-aula-2)) !important;
  --ion-color-base-rgb: var(--tp-color-aula-2) !important;
  --ion-color-contrast: hsl(var(--tp-color-neutral-10)) !important;
}
.tp-color-theme-medsoft .ion-color-aula-3 {
  --ion-color-base: hsl(var(--tp-color-aula-3)) !important;
  --ion-color-base-rgb: var(--tp-color-aula-3) !important;
  --ion-color-contrast: hsl(var(--tp-color-contrast-fixed)) !important;
}
.tp-color-theme-medsoft .ion-color-aula-4 {
  --ion-color-base: hsl(var(--tp-color-aula-4)) !important;
  --ion-color-base-rgb: var(--tp-color-aula-4) !important;
  --ion-color-contrast: hsl(var(--tp-color-neutral-1)) !important;
}
.tp-color-theme-medsoft .ion-color-aula-5 {
  --ion-color-base: hsl(var(--tp-color-aula-5)) !important;
  --ion-color-base-rgb: var(--tp-color-aula-5) !important;
  --ion-color-contrast: hsl(var(--tp-color-neutral-1)) !important;
}
.tp-color-theme-medsoft .ion-color-material {
  --ion-color-base: hsl(var(--tp-color-material)) !important;
  --ion-color-base-rgb: var(--tp-color-material) !important;
  --ion-color-contrast: hsl(var(--tp-color-contrast-fixed)) !important;
}
.tp-color-theme-medsoft .ion-color-material-1 {
  --ion-color-base: hsl(var(--tp-color-material-1)) !important;
  --ion-color-base-rgb: var(--tp-color-material-1) !important;
  --ion-color-contrast: hsl(var(--tp-color-neutral-10)) !important;
}
.tp-color-theme-medsoft .ion-color-material-2 {
  --ion-color-base: hsl(var(--tp-color-material-2)) !important;
  --ion-color-base-rgb: var(--tp-color-material-2) !important;
  --ion-color-contrast: hsl(var(--tp-color-neutral-10)) !important;
}
.tp-color-theme-medsoft .ion-color-material-3 {
  --ion-color-base: hsl(var(--tp-color-material-3)) !important;
  --ion-color-base-rgb: var(--tp-color-material-3) !important;
  --ion-color-contrast: hsl(var(--tp-color-contrast-fixed)) !important;
}
.tp-color-theme-medsoft .ion-color-material-4 {
  --ion-color-base: hsl(var(--tp-color-material-4)) !important;
  --ion-color-base-rgb: var(--tp-color-material-4) !important;
  --ion-color-contrast: hsl(var(--tp-color-neutral-1)) !important;
}
.tp-color-theme-medsoft .ion-color-material-5 {
  --ion-color-base: hsl(var(--tp-color-material-5)) !important;
  --ion-color-base-rgb: var(--tp-color-material-5) !important;
  --ion-color-contrast: hsl(var(--tp-color-neutral-1)) !important;
}
.tp-color-theme-medsoft .ion-color-questoes {
  --ion-color-base: hsl(var(--tp-color-questoes)) !important;
  --ion-color-base-rgb: var(--tp-color-questoes) !important;
  --ion-color-contrast: hsl(var(--tp-color-contrast-fixed)) !important;
}
.tp-color-theme-medsoft .ion-color-questoes-1 {
  --ion-color-base: hsl(var(--tp-color-questoes-1)) !important;
  --ion-color-base-rgb: var(--tp-color-questoes-1) !important;
  --ion-color-contrast: hsl(var(--tp-color-neutral-10)) !important;
}
.tp-color-theme-medsoft .ion-color-questoes-2 {
  --ion-color-base: hsl(var(--tp-color-questoes-2)) !important;
  --ion-color-base-rgb: var(--tp-color-questoes-2) !important;
  --ion-color-contrast: hsl(var(--tp-color-neutral-10)) !important;
}
.tp-color-theme-medsoft .ion-color-questoes-3 {
  --ion-color-base: hsl(var(--tp-color-questoes-3)) !important;
  --ion-color-base-rgb: var(--tp-color-questoes-3) !important;
  --ion-color-contrast: hsl(var(--tp-color-contrast-fixed)) !important;
}
.tp-color-theme-medsoft .ion-color-questoes-4 {
  --ion-color-base: hsl(var(--tp-color-questoes-4)) !important;
  --ion-color-base-rgb: var(--tp-color-questoes-4) !important;
  --ion-color-contrast: hsl(var(--tp-color-neutral-1)) !important;
}
.tp-color-theme-medsoft .ion-color-questoes-5 {
  --ion-color-base: hsl(var(--tp-color-questoes-5)) !important;
  --ion-color-base-rgb: var(--tp-color-questoes-5) !important;
  --ion-color-contrast: hsl(var(--tp-color-neutral-1)) !important;
}
.tp-color-theme-medsoft .ion-color-revalida {
  --ion-color-base: hsl(var(--tp-color-revalida)) !important;
  --ion-color-base-rgb: var(--tp-color-revalida) !important;
  --ion-color-contrast: hsl(var(--tp-color-contrast-fixed)) !important;
}
.tp-color-theme-medsoft .ion-color-revalida-1 {
  --ion-color-base: hsl(var(--tp-color-revalida-1)) !important;
  --ion-color-base-rgb: var(--tp-color-revalida-1) !important;
  --ion-color-contrast: hsl(var(--tp-color-neutral-10)) !important;
}
.tp-color-theme-medsoft .ion-color-revalida-2 {
  --ion-color-base: hsl(var(--tp-color-revalida-2)) !important;
  --ion-color-base-rgb: var(--tp-color-revalida-2) !important;
  --ion-color-contrast: hsl(var(--tp-color-neutral-10)) !important;
}
.tp-color-theme-medsoft .ion-color-revalida-3 {
  --ion-color-base: hsl(var(--tp-color-revalida-3)) !important;
  --ion-color-base-rgb: var(--tp-color-revalida-3) !important;
  --ion-color-contrast: hsl(var(--tp-color-contrast-fixed)) !important;
}
.tp-color-theme-medsoft .ion-color-revalida-4 {
  --ion-color-base: hsl(var(--tp-color-revalida-4)) !important;
  --ion-color-base-rgb: var(--tp-color-revalida-4) !important;
  --ion-color-contrast: hsl(var(--tp-color-neutral-1)) !important;
}
.tp-color-theme-medsoft .ion-color-revalida-5 {
  --ion-color-base: hsl(var(--tp-color-revalida-5)) !important;
  --ion-color-base-rgb: var(--tp-color-revalida-5) !important;
  --ion-color-contrast: hsl(var(--tp-color-neutral-1)) !important;
}
.tp-color-theme-medsoft .ion-color-provas {
  --ion-color-base: hsl(var(--tp-color-provas)) !important;
  --ion-color-base-rgb: var(--tp-color-provas) !important;
  --ion-color-contrast: hsl(var(--tp-color-contrast-fixed)) !important;
}
.tp-color-theme-medsoft .ion-color-provas-1 {
  --ion-color-base: hsl(var(--tp-color-provas-1)) !important;
  --ion-color-base-rgb: var(--tp-color-provas-1) !important;
  --ion-color-contrast: hsl(var(--tp-color-neutral-10)) !important;
}
.tp-color-theme-medsoft .ion-color-provas-2 {
  --ion-color-base: hsl(var(--tp-color-provas-2)) !important;
  --ion-color-base-rgb: var(--tp-color-provas-2) !important;
  --ion-color-contrast: hsl(var(--tp-color-neutral-10)) !important;
}
.tp-color-theme-medsoft .ion-color-provas-3 {
  --ion-color-base: hsl(var(--tp-color-provas-3)) !important;
  --ion-color-base-rgb: var(--tp-color-provas-3) !important;
  --ion-color-contrast: hsl(var(--tp-color-contrast-fixed)) !important;
}
.tp-color-theme-medsoft .ion-color-provas-4 {
  --ion-color-base: hsl(var(--tp-color-provas-4)) !important;
  --ion-color-base-rgb: var(--tp-color-provas-4) !important;
  --ion-color-contrast: hsl(var(--tp-color-neutral-1)) !important;
}
.tp-color-theme-medsoft .ion-color-provas-5 {
  --ion-color-base: hsl(var(--tp-color-provas-5)) !important;
  --ion-color-base-rgb: var(--tp-color-provas-5) !important;
  --ion-color-contrast: hsl(var(--tp-color-neutral-1)) !important;
}
.tp-color-theme-recursos {
  --tp-color-brand-hue: 195;
  --tp-color-orange-hue: 25;
  --tp-color-orange: var(--tp-color-orange-hue),
    var(--tp-color-orange-saturation, var(--tp-color-saturation)),
    var(--tp-color-orange-luminosity-3, var(--tp-color-luminosity-3));
  --tp-color-orange-1: var(--tp-color-orange-hue),
    var(--tp-color-orange-saturation, var(--tp-color-saturation)),
    var(
      --tp-color-orange-luminosity-1,
      var(--tp-color-luminosity-1)
    );
  --tp-color-orange-2: var(--tp-color-orange-hue),
    var(--tp-color-orange-saturation, var(--tp-color-saturation)),
    var(
      --tp-color-orange-luminosity-2,
      var(--tp-color-luminosity-2)
    );
  --tp-color-orange-3: var(--tp-color-orange-hue),
    var(--tp-color-orange-saturation, var(--tp-color-saturation)),
    var(
      --tp-color-orange-luminosity-3,
      var(--tp-color-luminosity-3)
    );
  --tp-color-orange-4: var(--tp-color-orange-hue),
    var(--tp-color-orange-saturation, var(--tp-color-saturation)),
    var(
      --tp-color-orange-luminosity-4,
      var(--tp-color-luminosity-4)
    );
  --tp-color-orange-5: var(--tp-color-orange-hue),
    var(--tp-color-orange-saturation, var(--tp-color-saturation)),
    var(
      --tp-color-orange-luminosity-5,
      var(--tp-color-luminosity-5)
    );
}
.tp-color-theme-recursos .ion-color-orange {
  --ion-color-base: hsl(var(--tp-color-orange)) !important;
  --ion-color-base-rgb: var(--tp-color-orange) !important;
  --ion-color-contrast: hsl(var(--tp-color-contrast-fixed)) !important;
}
.tp-color-theme-recursos .ion-color-orange-1 {
  --ion-color-base: hsl(var(--tp-color-orange-1)) !important;
  --ion-color-base-rgb: var(--tp-color-orange-1) !important;
  --ion-color-contrast: hsl(var(--tp-color-neutral-10)) !important;
}
.tp-color-theme-recursos .ion-color-orange-2 {
  --ion-color-base: hsl(var(--tp-color-orange-2)) !important;
  --ion-color-base-rgb: var(--tp-color-orange-2) !important;
  --ion-color-contrast: hsl(var(--tp-color-neutral-10)) !important;
}
.tp-color-theme-recursos .ion-color-orange-3 {
  --ion-color-base: hsl(var(--tp-color-orange-3)) !important;
  --ion-color-base-rgb: var(--tp-color-orange-3) !important;
  --ion-color-contrast: hsl(var(--tp-color-contrast-fixed)) !important;
}
.tp-color-theme-recursos .ion-color-orange-4 {
  --ion-color-base: hsl(var(--tp-color-orange-4)) !important;
  --ion-color-base-rgb: var(--tp-color-orange-4) !important;
  --ion-color-contrast: hsl(var(--tp-color-neutral-1)) !important;
}
.tp-color-theme-recursos .ion-color-orange-5 {
  --ion-color-base: hsl(var(--tp-color-orange-5)) !important;
  --ion-color-base-rgb: var(--tp-color-orange-5) !important;
  --ion-color-contrast: hsl(var(--tp-color-neutral-1)) !important;
}
.tp-color-theme-cpmed {
  --tp-color-brand-hue: 12;
}
.tp-color-theme-cpvent {
  --tp-color-brand-hue: 72;
}
.tp-color-theme-extensivo-rmais {
  --tp-color-brand-hue: 300;
}
.tp-color-theme-extensivo {
  --tp-color-brand-hue: 266;
}
.tp-color-theme-intensivao {
  --tp-color-brand-hue: 344;
}
.tp-color-theme-medeletro {
  --tp-color-brand-hue: 180;
}
.tp-color-theme-medmaster {
  --tp-color-brand-hue: 56;
}
.tp-color-theme-no-papo {
  --tp-color-brand-hue: 230;
}
.tp-color-theme-ventilamed {
  --tp-color-brand-hue: 29;
}

/*# sourceMappingURL=templarios.themes.css.map */
