html {
  overflow: auto !important;
}

.sb-show-main {
  overflow: auto !important;
}

.css-17avmwy {
  display: block !important;
}

.css-o1d7ko {
  display: inline-block !important;
}

.css-1lslclb {
  height: 50vh !important;
}
