/**
  * @prop --tp-container-height: Propriedade definida dinamicamente no tsx. Define a altura máxima da coluna.
  * @prop --tp-bar-value: Propriedade definida dinamicamente no tsx. Define o preenchimento da coluna em porcentagem.
  * @prop --tp-marker-value: Propriedade definida dinamicamente no tsx. Define a posição, em porcentagem, do marcador na coluna.
  * @prop --tp-marker-color: Define a cor do marcador.
*/

:host {
  --tp-skeleton-height: var(--tp-container-height);
  --tp-skeleton-background-rgb: var(--tp-color-neutral-10-rgb);

  display: inline-block;
}

.tp-comparison-chart-bar {
  &__container {
    position: relative;
    width: 8px;
    height: var(--tp-container-height);
    margin: 0 auto;
    background: var(--tp-color-neutral-2);
    border-radius: 4px;
  }

  &__bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: var(--tp-color-brand-4);
    border-radius: 4px;
    animation: load-comparison-chart-bar 1s forwards ease-in-out;
  }

  &__marker {
    position: absolute;
    bottom: var(--tp-marker-value);
    left: 0;
    display: none;
    width: 24px;
    height: 6px;
    background: var(--tp-color-caution);
    border-radius: 3px;
    transform: translate(-8px, 50%);
  }

  &__label {
    display: flex;
    margin-top: 10px;
  }

  &__skeleton {
    --background-rgb: var(--tp-skeleton-background-rgb);
    --border-radius: 4px;
    width: 8px;
    height: var(--tp-skeleton-height);
    margin: 0 auto;
  }

  &__marker-skeleton {
    --background-rgb: var(--tp-skeleton-background-rgb);
    --border-radius: 3px;
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 24px;
    height: 6px;
    margin: 0;
    transform: translate(-8px, 50%);
  }

  &__label-skeleton {
    --background-rgb: var(--tp-skeleton-background-rgb);
    --border-radius: 2px;
    width: 26px;
    height: 12px;
    margin: 10px 0 0;
  }
}

//
// color
//
:host(.tp-color) .tp-comparison-chart-bar__container {
  background: rgba(var(--tp-color-base-rgb), 0.4);
}

:host(.tp-color) .tp-comparison-chart-bar__bar {
  background: var(--tp-color-base);
}

:host(.tp-color) .tp-comparison-chart-bar__marker {
  background: var(--tp-marker-color, var(--tp-color-caution));
}

//
// disabled
//
:host(.tp-comparison-chart-bar--disabled) .tp-comparison-chart-bar__container {
  background: var(--tp-color-neutral-15);
}

:host(.tp-comparison-chart-bar--disabled) .tp-comparison-chart-bar__bar {
  background: var(--tp-color-neutral-3);
}

:host(.tp-comparison-chart-bar--disabled) .tp-comparison-chart-bar__marker {
  background: var(--tp-color-neutral-35);
}

//
// marker
//
:host(.tp-comparison-chart-bar--has-marker) .tp-comparison-chart-bar__marker {
  display: initial;
}

//
// loading
//
:host(.tp-comparison-chart-bar--loading) .tp-comparison-chart-bar__container {
  background: transparent;
}

//
// animations
//
@keyframes load-comparison-chart-bar {
  from {
    height: 0%;
  }

  to {
    height: var(--tp-bar-value);
  }
}
