@import './../../../styles/definitions/type';

/**
  * @prop --tp-skeleton-height: Define a altura do skeleton do componente.
  * @prop --tp-skeleton-width: Define a largura do skeleton do componente.
  * @prop --tp-skeleton-background-rgb: Define o background rgb do skeleton do componente.
*/

:host  {
  --tp-skeleton-height: calc(var(--height) * 1px);
  --tp-skeleton-width: calc(var(--width) * 1px);
  --tp-skeleton-background-rgb: var(--tp-color-neutral-10-rgb);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--tp-color-neutral-2);
}

.tp-alert {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
  }

  &__icon {
    min-width: 16px;
    margin-right: 16px;
  }

  &__text {
    color: var(--tp-color-neutral-10);
    text-align: center;
  }

  &__skeleton {
    --background-rgb: var(--tp-skeleton-background-rgb);
    --border-radius: 0;
    width: 100%;
    height: 40px;
    margin: 0;
  }
}

//
// color
//
:host(.tp-color) {
  background: var(--tp-color-base);

  .tp-alert {
    &__icon {
      --stroke: var(--tp-color-contrast);
    }

    &__text {
      color: var(--tp-color-contrast);
    }
  }
}

//
// state
//
:host(.tp-alert--offline) {
  background: var(--tp-color-warning);

  .tp-alert {
    &__icon {
      --stroke: var(--tp-color-neutral-10);
    }

    &__text {
      color: var(--tp-color-neutral-10);
    }
  }
}

:host(.tp-alert--atualizar) {
  background: var(--tp-color-provas-4);

  .tp-alert {
    &__icon {
      --stroke: var(--tp-color-neutral-10);
    }

    &__text {
      color: var(--tp-color-neutral-10);
    }
  }
}

//
// loading
//
:host(.tp-alert--loading) {
  background: transparent;
}
