@use './variables/theme.variables';
@use './functions/color.functions' as color-function;
@use './mixins/color-hsl.mixins' as color-mixin;

// default scheme: dark
:root {
  // color css custom properties definition
  --tp-color-brand-hue: 188;
  --tp-color-saturation: 80%;
  --tp-color-luminosity-1: 20%;
  --tp-color-luminosity-2: 30%;
  --tp-color-luminosity-3: 40%;
  --tp-color-luminosity-4: 60%;
  --tp-color-luminosity-5: 80%;

  // feedback color css custom properties definition
  --tp-color-feedback-attention-hue: 44;
  --tp-color-feedback-caution-hue: 24;
  --tp-color-feedback-warning-hue: 4;
  --tp-color-feedback-success-hue: 128;
  --tp-color-feedback-saturation: 80%;
  --tp-color-feedback-luminosity: 65%;

  // neutral color css custom properties definition
  --tp-color-neutral-hue: 188;
  --tp-color-neutral-saturation: 10%;
  --tp-color-neutral-luminosity: 8%;
  --tp-color-neutral-alternative-luminosity: 13%;
  --tp-color-neutral-invert: 1;

  // color variation 3 contrast css custom property
  --tp-color-contrast-fixed: var(--tp-color-neutral-10);
}

// light scheme
.tp-color-scheme-light {
  // color css custom properties override
  --tp-color-saturation: 40%;
  --tp-color-luminosity-1: 80%;
  --tp-color-luminosity-2: 60%;
  --tp-color-luminosity-3: 40%;
  --tp-color-luminosity-4: 30%;
  --tp-color-luminosity-5: 20%;

  // feedback color css custom properties override
  --tp-color-feedback-luminosity: 45%;
  --tp-color-success-luminosity: 35%;

  // neutral color css custom properties override
  --tp-color-neutral-saturation: 10%;
  --tp-color-neutral-luminosity: 98%;
  --tp-color-neutral-alternative-luminosity: 93%;
  --tp-color-neutral-invert: -1;

  // color variation 3 contrast css custom property override
  --tp-color-contrast-fixed: var(--tp-color-neutral-1);
}

// templarios css custom properties
:root {
  @include color-mixin.generate-color-neutral-properties();
  @include color-mixin.generate-color-properties(brand);
  @each $feedback in theme.$tp-feedback-colors {
    @include color-mixin.generate-color-feedback-properties($feedback);
  }
}

// templarios css classes
@include color-mixin.generate-templarios-color-neutral-classes();
@include color-mixin.generate-templarios-color-classes(brand);
@each $feedback in theme.$tp-feedback-colors {
  @include color-mixin.generate-templarios-color-feedback-classes($feedback);
}

// ionic css custom properties
:root {
  --ion-background-color: #{color-function.tp-color(neutral, 1)};
  --ion-default-font: 'fsemeric', 'Open Sans', sans-serif;
}

// ionic css classes
@include color-mixin.generate-ionic-color-neutral-classes();
@include color-mixin.generate-ionic-color-classes(brand);
@each $feedback in theme.$tp-feedback-colors {
  @include color-mixin.generate-ionic-color-feedback-classes($feedback);
}

// themes
.tp-color-theme {
  &-medsoft {
    --tp-color-aula-hue: 168;
    --tp-color-material-hue: 24;
    --tp-color-questoes-hue: 200;
    --tp-color-revalida-hue: 342;
    --tp-color-provas-hue: 268;

    @each $color in theme.$tp-medsoft-secondary-colors {
      @include color-mixin.generate-color-properties($color);
      @include color-mixin.generate-templarios-color-classes($color);
      @include color-mixin.generate-ionic-color-classes($color);
    }
  }

  &-recursos {
    --tp-color-brand-hue: 195;
    --tp-color-orange-hue: 25;

    @each $color in theme.$tp-recursos-secondary-colors {
      @include color-mixin.generate-color-properties($color);
      @include color-mixin.generate-templarios-color-classes($color);
      @include color-mixin.generate-ionic-color-classes($color);
    }
  }

  &-cpmed {
    --tp-color-brand-hue: 12;
  }

  &-cpvent {
    --tp-color-brand-hue: 72;
  }

  &-extensivo-rmais {
    --tp-color-brand-hue: 300;
  }

  &-extensivo {
    --tp-color-brand-hue: 128;
  }

  &-intensivao {
    --tp-color-brand-hue: 344;
  }

  &-medeletro {
    --tp-color-brand-hue: 180;
  }

  &-medmaster {
    --tp-color-brand-hue: 56;
  }

  &-no-papo {
    --tp-color-brand-hue: 230;
  }

  &-ventilamed {
    --tp-color-brand-hue: 29;
  }
}
