@use '../utils/styles/mixins/color.mixin';

$feedbacks: 'attention', 'caution', 'warning', 'revalida', 'success';

// default scheme: dark
:root {
  // color css custom properties definition
  --tp-color-brand-hue: 188;
  --tp-color-saturation: 80%;
  --tp-color-luminosity-1: 20%;
  --tp-color-luminosity-2: 30%;
  --tp-color-luminosity-3: 40%;
  --tp-color-luminosity-4: 60%;
  --tp-color-luminosity-5: 80%;

  // feedback color css custom properties definition
  --tp-color-feedback-attention-hue: 44;
  --tp-color-feedback-caution-hue: 24;
  --tp-color-feedback-warning-hue: 4;
  --tp-color-feedback-success-hue: 128;
  --tp-color-feedback-saturation: 80%;
  --tp-color-feedback-luminosity: 65%;

  // neutral color css custom properties definition
  --tp-color-neutral-hue: 188;
  --tp-color-neutral-saturation: 10%;
  --tp-color-neutral-luminosity: 8%;
  --tp-color-neutral-alternative-luminosity: 13%;
  --tp-color-neutral-invert: 1;
}

// light scheme
.tp-color-scheme-light {
  // color css custom properties override
  --tp-color-saturation: 40%;
  --tp-color-luminosity-1: 80%;
  --tp-color-luminosity-2: 60%;
  --tp-color-luminosity-3: 40%;
  --tp-color-luminosity-4: 30%;
  --tp-color-luminosity-5: 20%;

  // feedback color css custom properties override
  --tp-color-feedback-luminosity: 45%;
  --tp-color-feedback-success-luminosity: 35%;

  // neutral color css custom properties override
  --tp-color-neutral-saturation: 10%;
  --tp-color-neutral-luminosity: 98%;
  --tp-color-neutral-alternative-luminosity: 93%;
  --tp-color-neutral-invert: -1;

  // color variation 3 contrast css custom property override
  :not([class*='neutral']):not([class*='feedback'])[class*='3'] {
    --ion-color-contrast: hsl(var(--tp-color-neutral-1)) !important;
  }
}

// css custom properties
:root {
  @include color.generate-color-properties(brand);
  @each $feedback in $feedbacks {
    @include color.generate-color-feedback-properties($feedback);
  }
  @include color.generate-color-neutral-properties();
}

// ionic css classes
@include color.generate-ionic-color-classes(brand);
@each $feedback in $feedbacks {
  @include color.generate-ionic-color-feedback-classes($feedback);
}
@include color.generate-ionic-color-neutral-classes();
