/* stylelint-disable selector-class-pattern */
/**
  * @prop --tp-skeleton-height: Define a altura do skeleton do componente.
  * @prop --tp-skeleton-width: Define a largura do skeleton do componente.
  * @prop --tp-skeleton-background-rgb: Define o background rgb do skeleton do componente.
*/

:host {
  --tp-skeleton-height: 24px;
  --tp-skeleton-width: 24px;
  --tp-skeleton-background-rgb: var(--tp-color-neutral-10-rgb);
}

.tp-rate-like {
  &__container {
    display: flex;
    align-items: center;
  }

  &__button {
    width: 24px;
    height: 24px;
    background: transparent;
    border: 0;

    &:first-child {
      margin-right: 16px;
    }

    &--disabled {
      pointer-events: none;

      .tp-rate-like__icon {
        --stroke: var(--tp-color-neutral-4);
      }
    }

    &--like .tp-rate-like__icon {
      --stroke: var(--tp-color-success);
    }

    &--dislike .tp-rate-like__icon {
      --stroke: var(--tp-color-warning);
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__skeleton {
    --background-rgb: var(--tp-skeleton-background-rgb);
    --border-radius: 0;
    width: var(--tp-skeleton-width);
    height: var(--tp-skeleton-height);
    margin: 0;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}
