.tp-color-theme-medsoft {
  --tp-color-contrast-fixed: hsl(188, 10%, 98%);
  --tp-color-contrast-fixed-rgb: 249, 250, 250;
  --tp-color-aula: hsl(168, 80%, 40%);
  --tp-color-aula-rgb: 20, 184, 151;
  --tp-color-aula-shade: hsl(168, 80%, 35%);
  --tp-color-aula-tint: hsl(168, 80%, 45%);
  --tp-color-aula-1: hsl(168, 80%, 20%);
  --tp-color-aula-1-rgb: 10, 92, 75;
  --tp-color-aula-1-shade: hsl(168, 80%, 15%);
  --tp-color-aula-1-tint: hsl(168, 80%, 25%);
  --tp-color-aula-2: hsl(168, 80%, 30%);
  --tp-color-aula-2-rgb: 15, 138, 113;
  --tp-color-aula-2-shade: hsl(168, 80%, 25%);
  --tp-color-aula-2-tint: hsl(168, 80%, 35%);
  --tp-color-aula-3: hsl(168, 80%, 40%);
  --tp-color-aula-3-rgb: 20, 184, 151;
  --tp-color-aula-3-shade: hsl(168, 80%, 35%);
  --tp-color-aula-3-tint: hsl(168, 80%, 45%);
  --tp-color-aula-4: hsl(168, 80%, 60%);
  --tp-color-aula-4-rgb: 71, 235, 202;
  --tp-color-aula-4-shade: hsl(168, 80%, 55%);
  --tp-color-aula-4-tint: hsl(168, 80%, 65%);
  --tp-color-aula-5: hsl(168, 80%, 80%);
  --tp-color-aula-5-rgb: 163, 245, 228;
  --tp-color-aula-5-shade: hsl(168, 80%, 75%);
  --tp-color-aula-5-tint: hsl(168, 80%, 85%);
  --tp-color-contrast-fixed: hsl(188, 10%, 98%);
  --tp-color-contrast-fixed-rgb: 249, 250, 250;
  --tp-color-material: hsl(24, 80%, 40%);
  --tp-color-material-rgb: 184, 86, 20;
  --tp-color-material-shade: hsl(24, 80%, 35%);
  --tp-color-material-tint: hsl(24, 80%, 45%);
  --tp-color-material-1: hsl(24, 80%, 20%);
  --tp-color-material-1-rgb: 92, 43, 10;
  --tp-color-material-1-shade: hsl(24, 80%, 15%);
  --tp-color-material-1-tint: hsl(24, 80%, 25%);
  --tp-color-material-2: hsl(24, 80%, 30%);
  --tp-color-material-2-rgb: 138, 64, 15;
  --tp-color-material-2-shade: hsl(24, 80%, 25%);
  --tp-color-material-2-tint: hsl(24, 80%, 35%);
  --tp-color-material-3: hsl(24, 80%, 40%);
  --tp-color-material-3-rgb: 184, 86, 20;
  --tp-color-material-3-shade: hsl(24, 80%, 35%);
  --tp-color-material-3-tint: hsl(24, 80%, 45%);
  --tp-color-material-4: hsl(24, 80%, 60%);
  --tp-color-material-4-rgb: 235, 137, 71;
  --tp-color-material-4-shade: hsl(24, 80%, 55%);
  --tp-color-material-4-tint: hsl(24, 80%, 65%);
  --tp-color-material-5: hsl(24, 80%, 80%);
  --tp-color-material-5-rgb: 245, 196, 163;
  --tp-color-material-5-shade: hsl(24, 80%, 75%);
  --tp-color-material-5-tint: hsl(24, 80%, 85%);
  --tp-color-contrast-fixed: hsl(188, 10%, 98%);
  --tp-color-contrast-fixed-rgb: 249, 250, 250;
  --tp-color-questoes: hsl(200, 80%, 40%);
  --tp-color-questoes-rgb: 20, 129, 184;
  --tp-color-questoes-shade: hsl(200, 80%, 35%);
  --tp-color-questoes-tint: hsl(200, 80%, 45%);
  --tp-color-questoes-1: hsl(200, 80%, 20%);
  --tp-color-questoes-1-rgb: 10, 65, 92;
  --tp-color-questoes-1-shade: hsl(200, 80%, 15%);
  --tp-color-questoes-1-tint: hsl(200, 80%, 25%);
  --tp-color-questoes-2: hsl(200, 80%, 30%);
  --tp-color-questoes-2-rgb: 15, 97, 138;
  --tp-color-questoes-2-shade: hsl(200, 80%, 25%);
  --tp-color-questoes-2-tint: hsl(200, 80%, 35%);
  --tp-color-questoes-3: hsl(200, 80%, 40%);
  --tp-color-questoes-3-rgb: 20, 129, 184;
  --tp-color-questoes-3-shade: hsl(200, 80%, 35%);
  --tp-color-questoes-3-tint: hsl(200, 80%, 45%);
  --tp-color-questoes-4: hsl(200, 80%, 60%);
  --tp-color-questoes-4-rgb: 71, 180, 235;
  --tp-color-questoes-4-shade: hsl(200, 80%, 55%);
  --tp-color-questoes-4-tint: hsl(200, 80%, 65%);
  --tp-color-questoes-5: hsl(200, 80%, 80%);
  --tp-color-questoes-5-rgb: 163, 218, 245;
  --tp-color-questoes-5-shade: hsl(200, 80%, 75%);
  --tp-color-questoes-5-tint: hsl(200, 80%, 85%);
  --tp-color-contrast-fixed: hsl(188, 10%, 98%);
  --tp-color-contrast-fixed-rgb: 249, 250, 250;
  --tp-color-revalida: hsl(342, 80%, 40%);
  --tp-color-revalida-rgb: 184, 20, 69;
  --tp-color-revalida-shade: hsl(342, 80%, 35%);
  --tp-color-revalida-tint: hsl(342, 80%, 45%);
  --tp-color-revalida-1: hsl(342, 80%, 20%);
  --tp-color-revalida-1-rgb: 92, 10, 35;
  --tp-color-revalida-1-shade: hsl(342, 80%, 15%);
  --tp-color-revalida-1-tint: hsl(342, 80%, 25%);
  --tp-color-revalida-2: hsl(342, 80%, 30%);
  --tp-color-revalida-2-rgb: 138, 15, 52;
  --tp-color-revalida-2-shade: hsl(342, 80%, 25%);
  --tp-color-revalida-2-tint: hsl(342, 80%, 35%);
  --tp-color-revalida-3: hsl(342, 80%, 40%);
  --tp-color-revalida-3-rgb: 184, 20, 69;
  --tp-color-revalida-3-shade: hsl(342, 80%, 35%);
  --tp-color-revalida-3-tint: hsl(342, 80%, 45%);
  --tp-color-revalida-4: hsl(342, 80%, 60%);
  --tp-color-revalida-4-rgb: 235, 71, 120;
  --tp-color-revalida-4-shade: hsl(342, 80%, 55%);
  --tp-color-revalida-4-tint: hsl(342, 80%, 65%);
  --tp-color-revalida-5: hsl(342, 80%, 80%);
  --tp-color-revalida-5-rgb: 245, 163, 188;
  --tp-color-revalida-5-shade: hsl(342, 80%, 75%);
  --tp-color-revalida-5-tint: hsl(342, 80%, 85%);
  --tp-color-contrast-fixed: hsl(188, 10%, 98%);
  --tp-color-contrast-fixed-rgb: 249, 250, 250;
  --tp-color-provas: hsl(268, 80%, 40%);
  --tp-color-provas-rgb: 97, 20, 184;
  --tp-color-provas-shade: hsl(268, 80%, 35%);
  --tp-color-provas-tint: hsl(268, 80%, 45%);
  --tp-color-provas-1: hsl(268, 80%, 20%);
  --tp-color-provas-1-rgb: 48, 10, 92;
  --tp-color-provas-1-shade: hsl(268, 80%, 15%);
  --tp-color-provas-1-tint: hsl(268, 80%, 25%);
  --tp-color-provas-2: hsl(268, 80%, 30%);
  --tp-color-provas-2-rgb: 72, 15, 138;
  --tp-color-provas-2-shade: hsl(268, 80%, 25%);
  --tp-color-provas-2-tint: hsl(268, 80%, 35%);
  --tp-color-provas-3: hsl(268, 80%, 40%);
  --tp-color-provas-3-rgb: 97, 20, 184;
  --tp-color-provas-3-shade: hsl(268, 80%, 35%);
  --tp-color-provas-3-tint: hsl(268, 80%, 45%);
  --tp-color-provas-4: hsl(268, 80%, 60%);
  --tp-color-provas-4-rgb: 148, 71, 235;
  --tp-color-provas-4-shade: hsl(268, 80%, 55%);
  --tp-color-provas-4-tint: hsl(268, 80%, 65%);
  --tp-color-provas-5: hsl(268, 80%, 80%);
  --tp-color-provas-5-rgb: 201, 163, 245;
  --tp-color-provas-5-shade: hsl(268, 80%, 75%);
  --tp-color-provas-5-tint: hsl(268, 80%, 85%);
}

.tp-color-scheme-light.tp-color-theme-medsoft {
  --tp-color-contrast-fixed: hsl(188, 10%, 98%);
  --tp-color-contrast-fixed-rgb: 249, 250, 250;
  --tp-color-aula: hsl(168, 40%, 40%);
  --tp-color-aula-rgb: 61, 143, 126;
  --tp-color-aula-shade: hsl(168, 40%, 35%);
  --tp-color-aula-tint: hsl(168, 40%, 45%);
  --tp-color-aula-1: hsl(168, 40%, 80%);
  --tp-color-aula-1-rgb: 184, 224, 216;
  --tp-color-aula-1-shade: hsl(168, 40%, 75%);
  --tp-color-aula-1-tint: hsl(168, 40%, 85%);
  --tp-color-aula-2: hsl(168, 40%, 90%);
  --tp-color-aula-2-rgb: 219, 240, 236;
  --tp-color-aula-2-shade: hsl(168, 40%, 85%);
  --tp-color-aula-2-tint: hsl(168, 40%, 95%);
  --tp-color-aula-3: hsl(168, 40%, 100%);
  --tp-color-aula-3-rgb: 255, 255, 255;
  --tp-color-aula-3-shade: hsl(168, 40%, 95%);
  --tp-color-aula-3-tint: hsl(168, 40%, 100%);
  --tp-color-aula-4: hsl(168, 40%, 100%);
  --tp-color-aula-4-rgb: 255, 255, 255;
  --tp-color-aula-4-shade: hsl(168, 40%, 100%);
  --tp-color-aula-4-tint: hsl(168, 40%, 100%);
  --tp-color-aula-5: hsl(168, 40%, 100%);
  --tp-color-aula-5-rgb: 255, 255, 255;
  --tp-color-aula-5-shade: hsl(168, 40%, 100%);
  --tp-color-aula-5-tint: hsl(168, 40%, 100%);
  --tp-color-contrast-fixed: hsl(188, 10%, 98%);
  --tp-color-contrast-fixed-rgb: 249, 250, 250;
  --tp-color-material: hsl(24, 40%, 40%);
  --tp-color-material-rgb: 143, 94, 61;
  --tp-color-material-shade: hsl(24, 40%, 35%);
  --tp-color-material-tint: hsl(24, 40%, 45%);
  --tp-color-material-1: hsl(24, 40%, 80%);
  --tp-color-material-1-rgb: 224, 200, 184;
  --tp-color-material-1-shade: hsl(24, 40%, 75%);
  --tp-color-material-1-tint: hsl(24, 40%, 85%);
  --tp-color-material-2: hsl(24, 40%, 90%);
  --tp-color-material-2-rgb: 240, 227, 219;
  --tp-color-material-2-shade: hsl(24, 40%, 85%);
  --tp-color-material-2-tint: hsl(24, 40%, 95%);
  --tp-color-material-3: hsl(24, 40%, 100%);
  --tp-color-material-3-rgb: 255, 255, 255;
  --tp-color-material-3-shade: hsl(24, 40%, 95%);
  --tp-color-material-3-tint: hsl(24, 40%, 100%);
  --tp-color-material-4: hsl(24, 40%, 100%);
  --tp-color-material-4-rgb: 255, 255, 255;
  --tp-color-material-4-shade: hsl(24, 40%, 100%);
  --tp-color-material-4-tint: hsl(24, 40%, 100%);
  --tp-color-material-5: hsl(24, 40%, 100%);
  --tp-color-material-5-rgb: 255, 255, 255;
  --tp-color-material-5-shade: hsl(24, 40%, 100%);
  --tp-color-material-5-tint: hsl(24, 40%, 100%);
  --tp-color-contrast-fixed: hsl(188, 10%, 98%);
  --tp-color-contrast-fixed-rgb: 249, 250, 250;
  --tp-color-questoes: hsl(200, 40%, 40%);
  --tp-color-questoes-rgb: 61, 116, 143;
  --tp-color-questoes-shade: hsl(200, 40%, 35%);
  --tp-color-questoes-tint: hsl(200, 40%, 45%);
  --tp-color-questoes-1: hsl(200, 40%, 80%);
  --tp-color-questoes-1-rgb: 184, 211, 224;
  --tp-color-questoes-1-shade: hsl(200, 40%, 75%);
  --tp-color-questoes-1-tint: hsl(200, 40%, 85%);
  --tp-color-questoes-2: hsl(200, 40%, 90%);
  --tp-color-questoes-2-rgb: 219, 233, 240;
  --tp-color-questoes-2-shade: hsl(200, 40%, 85%);
  --tp-color-questoes-2-tint: hsl(200, 40%, 95%);
  --tp-color-questoes-3: hsl(200, 40%, 100%);
  --tp-color-questoes-3-rgb: 255, 255, 255;
  --tp-color-questoes-3-shade: hsl(200, 40%, 95%);
  --tp-color-questoes-3-tint: hsl(200, 40%, 100%);
  --tp-color-questoes-4: hsl(200, 40%, 100%);
  --tp-color-questoes-4-rgb: 255, 255, 255;
  --tp-color-questoes-4-shade: hsl(200, 40%, 100%);
  --tp-color-questoes-4-tint: hsl(200, 40%, 100%);
  --tp-color-questoes-5: hsl(200, 40%, 100%);
  --tp-color-questoes-5-rgb: 255, 255, 255;
  --tp-color-questoes-5-shade: hsl(200, 40%, 100%);
  --tp-color-questoes-5-tint: hsl(200, 40%, 100%);
  --tp-color-contrast-fixed: hsl(188, 10%, 98%);
  --tp-color-contrast-fixed-rgb: 249, 250, 250;
  --tp-color-revalida: hsl(342, 40%, 40%);
  --tp-color-revalida-rgb: 143, 61, 86;
  --tp-color-revalida-shade: hsl(342, 40%, 35%);
  --tp-color-revalida-tint: hsl(342, 40%, 45%);
  --tp-color-revalida-1: hsl(342, 40%, 80%);
  --tp-color-revalida-1-rgb: 224, 184, 196;
  --tp-color-revalida-1-shade: hsl(342, 40%, 75%);
  --tp-color-revalida-1-tint: hsl(342, 40%, 85%);
  --tp-color-revalida-2: hsl(342, 40%, 90%);
  --tp-color-revalida-2-rgb: 240, 219, 225;
  --tp-color-revalida-2-shade: hsl(342, 40%, 85%);
  --tp-color-revalida-2-tint: hsl(342, 40%, 95%);
  --tp-color-revalida-3: hsl(342, 40%, 100%);
  --tp-color-revalida-3-rgb: 255, 255, 255;
  --tp-color-revalida-3-shade: hsl(342, 40%, 95%);
  --tp-color-revalida-3-tint: hsl(342, 40%, 100%);
  --tp-color-revalida-4: hsl(342, 40%, 100%);
  --tp-color-revalida-4-rgb: 255, 255, 255;
  --tp-color-revalida-4-shade: hsl(342, 40%, 100%);
  --tp-color-revalida-4-tint: hsl(342, 40%, 100%);
  --tp-color-revalida-5: hsl(342, 40%, 100%);
  --tp-color-revalida-5-rgb: 255, 255, 255;
  --tp-color-revalida-5-shade: hsl(342, 40%, 100%);
  --tp-color-revalida-5-tint: hsl(342, 40%, 100%);
  --tp-color-contrast-fixed: hsl(188, 10%, 98%);
  --tp-color-contrast-fixed-rgb: 249, 250, 250;
  --tp-color-provas: hsl(268, 40%, 40%);
  --tp-color-provas-rgb: 99, 61, 143;
  --tp-color-provas-shade: hsl(268, 40%, 35%);
  --tp-color-provas-tint: hsl(268, 40%, 45%);
  --tp-color-provas-1: hsl(268, 40%, 80%);
  --tp-color-provas-1-rgb: 203, 184, 224;
  --tp-color-provas-1-shade: hsl(268, 40%, 75%);
  --tp-color-provas-1-tint: hsl(268, 40%, 85%);
  --tp-color-provas-2: hsl(268, 40%, 90%);
  --tp-color-provas-2-rgb: 229, 219, 240;
  --tp-color-provas-2-shade: hsl(268, 40%, 85%);
  --tp-color-provas-2-tint: hsl(268, 40%, 95%);
  --tp-color-provas-3: hsl(268, 40%, 100%);
  --tp-color-provas-3-rgb: 255, 255, 255;
  --tp-color-provas-3-shade: hsl(268, 40%, 95%);
  --tp-color-provas-3-tint: hsl(268, 40%, 100%);
  --tp-color-provas-4: hsl(268, 40%, 100%);
  --tp-color-provas-4-rgb: 255, 255, 255;
  --tp-color-provas-4-shade: hsl(268, 40%, 100%);
  --tp-color-provas-4-tint: hsl(268, 40%, 100%);
  --tp-color-provas-5: hsl(268, 40%, 100%);
  --tp-color-provas-5-rgb: 255, 255, 255;
  --tp-color-provas-5-shade: hsl(268, 40%, 100%);
  --tp-color-provas-5-tint: hsl(268, 40%, 100%);
}

.ion-color-aula,
[tp-color='aula'] {
  --ion-color-base: var(--tp-color-aula) !important;
  --ion-color-base-rgb: var(--tp-color-aula-rgb) !important;
  --ion-color-contrast: var(--tp-color-contrast-fixed) !important;
  --ion-color-contrast-rgb: var(--tp-color-contrast-fixed-rgb) !important;
  --ion-color-shade: var(--tp-color-aula-shade) !important;
  --ion-color-tint: var(--tp-color-aula-tint) !important;
}

.ion-color-aula-1,
[tp-color='aula-1'] {
  --ion-color-base: var(--tp-color-aula-1) !important;
  --ion-color-base-rgb: var(--tp-color-aula-1-rgb) !important;
  --ion-color-contrast: var(--tp-color-neutral-10) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-10-rgb) !important;
  --ion-color-shade: var(--tp-color-aula-1-shade) !important;
  --ion-color-tint: var(--tp-color-aula-1-tint) !important;
}

.ion-color-aula-2,
[tp-color='aula-2'] {
  --ion-color-base: var(--tp-color-aula-2) !important;
  --ion-color-base-rgb: var(--tp-color-aula-2-rgb) !important;
  --ion-color-contrast: var(--tp-color-neutral-10) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-10-rgb) !important;
  --ion-color-shade: var(--tp-color-aula-2-shade) !important;
  --ion-color-tint: var(--tp-color-aula-2-tint) !important;
}

.ion-color-aula-3,
[tp-color='aula-3'] {
  --ion-color-base: var(--tp-color-aula-3) !important;
  --ion-color-base-rgb: var(--tp-color-aula-3-rgb) !important;
  --ion-color-contrast: var(--tp-color-contrast-fixed) !important;
  --ion-color-contrast-rgb: var(--tp-color-contrast-fixed-rgb) !important;
  --ion-color-shade: var(--tp-color-aula-3-shade) !important;
  --ion-color-tint: var(--tp-color-aula-3-tint) !important;
}

.ion-color-aula-4,
[tp-color='aula-4'] {
  --ion-color-base: var(--tp-color-aula-4) !important;
  --ion-color-base-rgb: var(--tp-color-aula-4-rgb) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --ion-color-shade: var(--tp-color-aula-4-shade) !important;
  --ion-color-tint: var(--tp-color-aula-4-tint) !important;
}

.ion-color-aula-5,
[tp-color='aula-5'] {
  --ion-color-base: var(--tp-color-aula-5) !important;
  --ion-color-base-rgb: var(--tp-color-aula-5-rgb) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --ion-color-shade: var(--tp-color-aula-5-shade) !important;
  --ion-color-tint: var(--tp-color-aula-5-tint) !important;
}

.tp-color-aula,
[tp-color='aula'] {
  --tp-color-base: var(--tp-color-aula) !important;
  --tp-color-base-rgb: var(--tp-color-aula-rgb) !important;
  --tp-color-contrast: var(--tp-color-contrast-fixed) !important;
  --tp-color-contrast-rgb: var(--tp-color-contrast-fixed-rgb) !important;
  --tp-color-shade: var(--tp-color-aula-shade) !important;
  --tp-color-tint: var(--tp-color-aula-tint) !important;
}

.tp-color-aula-1,
[tp-color='aula-1'] {
  --tp-color-base: var(--tp-color-aula-1) !important;
  --tp-color-base-rgb: var(--tp-color-aula-1-rgb) !important;
  --tp-color-contrast: var(--tp-color-neutral-10) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-10-rgb) !important;
  --tp-color-shade: var(--tp-color-aula-1-shade) !important;
  --tp-color-tint: var(--tp-color-aula-1-tint) !important;
}

.tp-color-aula-2,
[tp-color='aula-2'] {
  --tp-color-base: var(--tp-color-aula-2) !important;
  --tp-color-base-rgb: var(--tp-color-aula-2-rgb) !important;
  --tp-color-contrast: var(--tp-color-neutral-10) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-10-rgb) !important;
  --tp-color-shade: var(--tp-color-aula-2-shade) !important;
  --tp-color-tint: var(--tp-color-aula-2-tint) !important;
}

.tp-color-aula-3,
[tp-color='aula-3'] {
  --tp-color-base: var(--tp-color-aula-3) !important;
  --tp-color-base-rgb: var(--tp-color-aula-3-rgb) !important;
  --tp-color-contrast: var(--tp-color-contrast-fixed) !important;
  --tp-color-contrast-rgb: var(--tp-color-contrast-fixed-rgb) !important;
  --tp-color-shade: var(--tp-color-aula-3-shade) !important;
  --tp-color-tint: var(--tp-color-aula-3-tint) !important;
}

.tp-color-aula-4,
[tp-color='aula-4'] {
  --tp-color-base: var(--tp-color-aula-4) !important;
  --tp-color-base-rgb: var(--tp-color-aula-4-rgb) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --tp-color-shade: var(--tp-color-aula-4-shade) !important;
  --tp-color-tint: var(--tp-color-aula-4-tint) !important;
}

.tp-color-aula-5,
[tp-color='aula-5'] {
  --tp-color-base: var(--tp-color-aula-5) !important;
  --tp-color-base-rgb: var(--tp-color-aula-5-rgb) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --tp-color-shade: var(--tp-color-aula-5-shade) !important;
  --tp-color-tint: var(--tp-color-aula-5-tint) !important;
}

.ion-color-material,
[tp-color='material'] {
  --ion-color-base: var(--tp-color-material) !important;
  --ion-color-base-rgb: var(--tp-color-material-rgb) !important;
  --ion-color-contrast: var(--tp-color-contrast-fixed) !important;
  --ion-color-contrast-rgb: var(--tp-color-contrast-fixed-rgb) !important;
  --ion-color-shade: var(--tp-color-material-shade) !important;
  --ion-color-tint: var(--tp-color-material-tint) !important;
}

.ion-color-material-1,
[tp-color='material-1'] {
  --ion-color-base: var(--tp-color-material-1) !important;
  --ion-color-base-rgb: var(--tp-color-material-1-rgb) !important;
  --ion-color-contrast: var(--tp-color-neutral-10) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-10-rgb) !important;
  --ion-color-shade: var(--tp-color-material-1-shade) !important;
  --ion-color-tint: var(--tp-color-material-1-tint) !important;
}

.ion-color-material-2,
[tp-color='material-2'] {
  --ion-color-base: var(--tp-color-material-2) !important;
  --ion-color-base-rgb: var(--tp-color-material-2-rgb) !important;
  --ion-color-contrast: var(--tp-color-neutral-10) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-10-rgb) !important;
  --ion-color-shade: var(--tp-color-material-2-shade) !important;
  --ion-color-tint: var(--tp-color-material-2-tint) !important;
}

.ion-color-material-3,
[tp-color='material-3'] {
  --ion-color-base: var(--tp-color-material-3) !important;
  --ion-color-base-rgb: var(--tp-color-material-3-rgb) !important;
  --ion-color-contrast: var(--tp-color-contrast-fixed) !important;
  --ion-color-contrast-rgb: var(--tp-color-contrast-fixed-rgb) !important;
  --ion-color-shade: var(--tp-color-material-3-shade) !important;
  --ion-color-tint: var(--tp-color-material-3-tint) !important;
}

.ion-color-material-4,
[tp-color='material-4'] {
  --ion-color-base: var(--tp-color-material-4) !important;
  --ion-color-base-rgb: var(--tp-color-material-4-rgb) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --ion-color-shade: var(--tp-color-material-4-shade) !important;
  --ion-color-tint: var(--tp-color-material-4-tint) !important;
}

.ion-color-material-5,
[tp-color='material-5'] {
  --ion-color-base: var(--tp-color-material-5) !important;
  --ion-color-base-rgb: var(--tp-color-material-5-rgb) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --ion-color-shade: var(--tp-color-material-5-shade) !important;
  --ion-color-tint: var(--tp-color-material-5-tint) !important;
}

.tp-color-material,
[tp-color='material'] {
  --tp-color-base: var(--tp-color-material) !important;
  --tp-color-base-rgb: var(--tp-color-material-rgb) !important;
  --tp-color-contrast: var(--tp-color-contrast-fixed) !important;
  --tp-color-contrast-rgb: var(--tp-color-contrast-fixed-rgb) !important;
  --tp-color-shade: var(--tp-color-material-shade) !important;
  --tp-color-tint: var(--tp-color-material-tint) !important;
}

.tp-color-material-1,
[tp-color='material-1'] {
  --tp-color-base: var(--tp-color-material-1) !important;
  --tp-color-base-rgb: var(--tp-color-material-1-rgb) !important;
  --tp-color-contrast: var(--tp-color-neutral-10) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-10-rgb) !important;
  --tp-color-shade: var(--tp-color-material-1-shade) !important;
  --tp-color-tint: var(--tp-color-material-1-tint) !important;
}

.tp-color-material-2,
[tp-color='material-2'] {
  --tp-color-base: var(--tp-color-material-2) !important;
  --tp-color-base-rgb: var(--tp-color-material-2-rgb) !important;
  --tp-color-contrast: var(--tp-color-neutral-10) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-10-rgb) !important;
  --tp-color-shade: var(--tp-color-material-2-shade) !important;
  --tp-color-tint: var(--tp-color-material-2-tint) !important;
}

.tp-color-material-3,
[tp-color='material-3'] {
  --tp-color-base: var(--tp-color-material-3) !important;
  --tp-color-base-rgb: var(--tp-color-material-3-rgb) !important;
  --tp-color-contrast: var(--tp-color-contrast-fixed) !important;
  --tp-color-contrast-rgb: var(--tp-color-contrast-fixed-rgb) !important;
  --tp-color-shade: var(--tp-color-material-3-shade) !important;
  --tp-color-tint: var(--tp-color-material-3-tint) !important;
}

.tp-color-material-4,
[tp-color='material-4'] {
  --tp-color-base: var(--tp-color-material-4) !important;
  --tp-color-base-rgb: var(--tp-color-material-4-rgb) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --tp-color-shade: var(--tp-color-material-4-shade) !important;
  --tp-color-tint: var(--tp-color-material-4-tint) !important;
}

.tp-color-material-5,
[tp-color='material-5'] {
  --tp-color-base: var(--tp-color-material-5) !important;
  --tp-color-base-rgb: var(--tp-color-material-5-rgb) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --tp-color-shade: var(--tp-color-material-5-shade) !important;
  --tp-color-tint: var(--tp-color-material-5-tint) !important;
}

.ion-color-questoes,
[tp-color='questoes'] {
  --ion-color-base: var(--tp-color-questoes) !important;
  --ion-color-base-rgb: var(--tp-color-questoes-rgb) !important;
  --ion-color-contrast: var(--tp-color-contrast-fixed) !important;
  --ion-color-contrast-rgb: var(--tp-color-contrast-fixed-rgb) !important;
  --ion-color-shade: var(--tp-color-questoes-shade) !important;
  --ion-color-tint: var(--tp-color-questoes-tint) !important;
}

.ion-color-questoes-1,
[tp-color='questoes-1'] {
  --ion-color-base: var(--tp-color-questoes-1) !important;
  --ion-color-base-rgb: var(--tp-color-questoes-1-rgb) !important;
  --ion-color-contrast: var(--tp-color-neutral-10) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-10-rgb) !important;
  --ion-color-shade: var(--tp-color-questoes-1-shade) !important;
  --ion-color-tint: var(--tp-color-questoes-1-tint) !important;
}

.ion-color-questoes-2,
[tp-color='questoes-2'] {
  --ion-color-base: var(--tp-color-questoes-2) !important;
  --ion-color-base-rgb: var(--tp-color-questoes-2-rgb) !important;
  --ion-color-contrast: var(--tp-color-neutral-10) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-10-rgb) !important;
  --ion-color-shade: var(--tp-color-questoes-2-shade) !important;
  --ion-color-tint: var(--tp-color-questoes-2-tint) !important;
}

.ion-color-questoes-3,
[tp-color='questoes-3'] {
  --ion-color-base: var(--tp-color-questoes-3) !important;
  --ion-color-base-rgb: var(--tp-color-questoes-3-rgb) !important;
  --ion-color-contrast: var(--tp-color-contrast-fixed) !important;
  --ion-color-contrast-rgb: var(--tp-color-contrast-fixed-rgb) !important;
  --ion-color-shade: var(--tp-color-questoes-3-shade) !important;
  --ion-color-tint: var(--tp-color-questoes-3-tint) !important;
}

.ion-color-questoes-4,
[tp-color='questoes-4'] {
  --ion-color-base: var(--tp-color-questoes-4) !important;
  --ion-color-base-rgb: var(--tp-color-questoes-4-rgb) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --ion-color-shade: var(--tp-color-questoes-4-shade) !important;
  --ion-color-tint: var(--tp-color-questoes-4-tint) !important;
}

.ion-color-questoes-5,
[tp-color='questoes-5'] {
  --ion-color-base: var(--tp-color-questoes-5) !important;
  --ion-color-base-rgb: var(--tp-color-questoes-5-rgb) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --ion-color-shade: var(--tp-color-questoes-5-shade) !important;
  --ion-color-tint: var(--tp-color-questoes-5-tint) !important;
}

.tp-color-questoes,
[tp-color='questoes'] {
  --tp-color-base: var(--tp-color-questoes) !important;
  --tp-color-base-rgb: var(--tp-color-questoes-rgb) !important;
  --tp-color-contrast: var(--tp-color-contrast-fixed) !important;
  --tp-color-contrast-rgb: var(--tp-color-contrast-fixed-rgb) !important;
  --tp-color-shade: var(--tp-color-questoes-shade) !important;
  --tp-color-tint: var(--tp-color-questoes-tint) !important;
}

.tp-color-questoes-1,
[tp-color='questoes-1'] {
  --tp-color-base: var(--tp-color-questoes-1) !important;
  --tp-color-base-rgb: var(--tp-color-questoes-1-rgb) !important;
  --tp-color-contrast: var(--tp-color-neutral-10) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-10-rgb) !important;
  --tp-color-shade: var(--tp-color-questoes-1-shade) !important;
  --tp-color-tint: var(--tp-color-questoes-1-tint) !important;
}

.tp-color-questoes-2,
[tp-color='questoes-2'] {
  --tp-color-base: var(--tp-color-questoes-2) !important;
  --tp-color-base-rgb: var(--tp-color-questoes-2-rgb) !important;
  --tp-color-contrast: var(--tp-color-neutral-10) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-10-rgb) !important;
  --tp-color-shade: var(--tp-color-questoes-2-shade) !important;
  --tp-color-tint: var(--tp-color-questoes-2-tint) !important;
}

.tp-color-questoes-3,
[tp-color='questoes-3'] {
  --tp-color-base: var(--tp-color-questoes-3) !important;
  --tp-color-base-rgb: var(--tp-color-questoes-3-rgb) !important;
  --tp-color-contrast: var(--tp-color-contrast-fixed) !important;
  --tp-color-contrast-rgb: var(--tp-color-contrast-fixed-rgb) !important;
  --tp-color-shade: var(--tp-color-questoes-3-shade) !important;
  --tp-color-tint: var(--tp-color-questoes-3-tint) !important;
}

.tp-color-questoes-4,
[tp-color='questoes-4'] {
  --tp-color-base: var(--tp-color-questoes-4) !important;
  --tp-color-base-rgb: var(--tp-color-questoes-4-rgb) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --tp-color-shade: var(--tp-color-questoes-4-shade) !important;
  --tp-color-tint: var(--tp-color-questoes-4-tint) !important;
}

.tp-color-questoes-5,
[tp-color='questoes-5'] {
  --tp-color-base: var(--tp-color-questoes-5) !important;
  --tp-color-base-rgb: var(--tp-color-questoes-5-rgb) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --tp-color-shade: var(--tp-color-questoes-5-shade) !important;
  --tp-color-tint: var(--tp-color-questoes-5-tint) !important;
}

.ion-color-revalida,
[tp-color='revalida'] {
  --ion-color-base: var(--tp-color-revalida) !important;
  --ion-color-base-rgb: var(--tp-color-revalida-rgb) !important;
  --ion-color-contrast: var(--tp-color-contrast-fixed) !important;
  --ion-color-contrast-rgb: var(--tp-color-contrast-fixed-rgb) !important;
  --ion-color-shade: var(--tp-color-revalida-shade) !important;
  --ion-color-tint: var(--tp-color-revalida-tint) !important;
}

.ion-color-revalida-1,
[tp-color='revalida-1'] {
  --ion-color-base: var(--tp-color-revalida-1) !important;
  --ion-color-base-rgb: var(--tp-color-revalida-1-rgb) !important;
  --ion-color-contrast: var(--tp-color-neutral-10) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-10-rgb) !important;
  --ion-color-shade: var(--tp-color-revalida-1-shade) !important;
  --ion-color-tint: var(--tp-color-revalida-1-tint) !important;
}

.ion-color-revalida-2,
[tp-color='revalida-2'] {
  --ion-color-base: var(--tp-color-revalida-2) !important;
  --ion-color-base-rgb: var(--tp-color-revalida-2-rgb) !important;
  --ion-color-contrast: var(--tp-color-neutral-10) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-10-rgb) !important;
  --ion-color-shade: var(--tp-color-revalida-2-shade) !important;
  --ion-color-tint: var(--tp-color-revalida-2-tint) !important;
}

.ion-color-revalida-3,
[tp-color='revalida-3'] {
  --ion-color-base: var(--tp-color-revalida-3) !important;
  --ion-color-base-rgb: var(--tp-color-revalida-3-rgb) !important;
  --ion-color-contrast: var(--tp-color-contrast-fixed) !important;
  --ion-color-contrast-rgb: var(--tp-color-contrast-fixed-rgb) !important;
  --ion-color-shade: var(--tp-color-revalida-3-shade) !important;
  --ion-color-tint: var(--tp-color-revalida-3-tint) !important;
}

.ion-color-revalida-4,
[tp-color='revalida-4'] {
  --ion-color-base: var(--tp-color-revalida-4) !important;
  --ion-color-base-rgb: var(--tp-color-revalida-4-rgb) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --ion-color-shade: var(--tp-color-revalida-4-shade) !important;
  --ion-color-tint: var(--tp-color-revalida-4-tint) !important;
}

.ion-color-revalida-5,
[tp-color='revalida-5'] {
  --ion-color-base: var(--tp-color-revalida-5) !important;
  --ion-color-base-rgb: var(--tp-color-revalida-5-rgb) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --ion-color-shade: var(--tp-color-revalida-5-shade) !important;
  --ion-color-tint: var(--tp-color-revalida-5-tint) !important;
}

.tp-color-revalida,
[tp-color='revalida'] {
  --tp-color-base: var(--tp-color-revalida) !important;
  --tp-color-base-rgb: var(--tp-color-revalida-rgb) !important;
  --tp-color-contrast: var(--tp-color-contrast-fixed) !important;
  --tp-color-contrast-rgb: var(--tp-color-contrast-fixed-rgb) !important;
  --tp-color-shade: var(--tp-color-revalida-shade) !important;
  --tp-color-tint: var(--tp-color-revalida-tint) !important;
}

.tp-color-revalida-1,
[tp-color='revalida-1'] {
  --tp-color-base: var(--tp-color-revalida-1) !important;
  --tp-color-base-rgb: var(--tp-color-revalida-1-rgb) !important;
  --tp-color-contrast: var(--tp-color-neutral-10) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-10-rgb) !important;
  --tp-color-shade: var(--tp-color-revalida-1-shade) !important;
  --tp-color-tint: var(--tp-color-revalida-1-tint) !important;
}

.tp-color-revalida-2,
[tp-color='revalida-2'] {
  --tp-color-base: var(--tp-color-revalida-2) !important;
  --tp-color-base-rgb: var(--tp-color-revalida-2-rgb) !important;
  --tp-color-contrast: var(--tp-color-neutral-10) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-10-rgb) !important;
  --tp-color-shade: var(--tp-color-revalida-2-shade) !important;
  --tp-color-tint: var(--tp-color-revalida-2-tint) !important;
}

.tp-color-revalida-3,
[tp-color='revalida-3'] {
  --tp-color-base: var(--tp-color-revalida-3) !important;
  --tp-color-base-rgb: var(--tp-color-revalida-3-rgb) !important;
  --tp-color-contrast: var(--tp-color-contrast-fixed) !important;
  --tp-color-contrast-rgb: var(--tp-color-contrast-fixed-rgb) !important;
  --tp-color-shade: var(--tp-color-revalida-3-shade) !important;
  --tp-color-tint: var(--tp-color-revalida-3-tint) !important;
}

.tp-color-revalida-4,
[tp-color='revalida-4'] {
  --tp-color-base: var(--tp-color-revalida-4) !important;
  --tp-color-base-rgb: var(--tp-color-revalida-4-rgb) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --tp-color-shade: var(--tp-color-revalida-4-shade) !important;
  --tp-color-tint: var(--tp-color-revalida-4-tint) !important;
}

.tp-color-revalida-5,
[tp-color='revalida-5'] {
  --tp-color-base: var(--tp-color-revalida-5) !important;
  --tp-color-base-rgb: var(--tp-color-revalida-5-rgb) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --tp-color-shade: var(--tp-color-revalida-5-shade) !important;
  --tp-color-tint: var(--tp-color-revalida-5-tint) !important;
}

.ion-color-provas,
[tp-color='provas'] {
  --ion-color-base: var(--tp-color-provas) !important;
  --ion-color-base-rgb: var(--tp-color-provas-rgb) !important;
  --ion-color-contrast: var(--tp-color-contrast-fixed) !important;
  --ion-color-contrast-rgb: var(--tp-color-contrast-fixed-rgb) !important;
  --ion-color-shade: var(--tp-color-provas-shade) !important;
  --ion-color-tint: var(--tp-color-provas-tint) !important;
}

.ion-color-provas-1,
[tp-color='provas-1'] {
  --ion-color-base: var(--tp-color-provas-1) !important;
  --ion-color-base-rgb: var(--tp-color-provas-1-rgb) !important;
  --ion-color-contrast: var(--tp-color-neutral-10) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-10-rgb) !important;
  --ion-color-shade: var(--tp-color-provas-1-shade) !important;
  --ion-color-tint: var(--tp-color-provas-1-tint) !important;
}

.ion-color-provas-2,
[tp-color='provas-2'] {
  --ion-color-base: var(--tp-color-provas-2) !important;
  --ion-color-base-rgb: var(--tp-color-provas-2-rgb) !important;
  --ion-color-contrast: var(--tp-color-neutral-10) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-10-rgb) !important;
  --ion-color-shade: var(--tp-color-provas-2-shade) !important;
  --ion-color-tint: var(--tp-color-provas-2-tint) !important;
}

.ion-color-provas-3,
[tp-color='provas-3'] {
  --ion-color-base: var(--tp-color-provas-3) !important;
  --ion-color-base-rgb: var(--tp-color-provas-3-rgb) !important;
  --ion-color-contrast: var(--tp-color-contrast-fixed) !important;
  --ion-color-contrast-rgb: var(--tp-color-contrast-fixed-rgb) !important;
  --ion-color-shade: var(--tp-color-provas-3-shade) !important;
  --ion-color-tint: var(--tp-color-provas-3-tint) !important;
}

.ion-color-provas-4,
[tp-color='provas-4'] {
  --ion-color-base: var(--tp-color-provas-4) !important;
  --ion-color-base-rgb: var(--tp-color-provas-4-rgb) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --ion-color-shade: var(--tp-color-provas-4-shade) !important;
  --ion-color-tint: var(--tp-color-provas-4-tint) !important;
}

.ion-color-provas-5,
[tp-color='provas-5'] {
  --ion-color-base: var(--tp-color-provas-5) !important;
  --ion-color-base-rgb: var(--tp-color-provas-5-rgb) !important;
  --ion-color-contrast: var(--tp-color-neutral-1) !important;
  --ion-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --ion-color-shade: var(--tp-color-provas-5-shade) !important;
  --ion-color-tint: var(--tp-color-provas-5-tint) !important;
}

.tp-color-provas,
[tp-color='provas'] {
  --tp-color-base: var(--tp-color-provas) !important;
  --tp-color-base-rgb: var(--tp-color-provas-rgb) !important;
  --tp-color-contrast: var(--tp-color-contrast-fixed) !important;
  --tp-color-contrast-rgb: var(--tp-color-contrast-fixed-rgb) !important;
  --tp-color-shade: var(--tp-color-provas-shade) !important;
  --tp-color-tint: var(--tp-color-provas-tint) !important;
}

.tp-color-provas-1,
[tp-color='provas-1'] {
  --tp-color-base: var(--tp-color-provas-1) !important;
  --tp-color-base-rgb: var(--tp-color-provas-1-rgb) !important;
  --tp-color-contrast: var(--tp-color-neutral-10) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-10-rgb) !important;
  --tp-color-shade: var(--tp-color-provas-1-shade) !important;
  --tp-color-tint: var(--tp-color-provas-1-tint) !important;
}

.tp-color-provas-2,
[tp-color='provas-2'] {
  --tp-color-base: var(--tp-color-provas-2) !important;
  --tp-color-base-rgb: var(--tp-color-provas-2-rgb) !important;
  --tp-color-contrast: var(--tp-color-neutral-10) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-10-rgb) !important;
  --tp-color-shade: var(--tp-color-provas-2-shade) !important;
  --tp-color-tint: var(--tp-color-provas-2-tint) !important;
}

.tp-color-provas-3,
[tp-color='provas-3'] {
  --tp-color-base: var(--tp-color-provas-3) !important;
  --tp-color-base-rgb: var(--tp-color-provas-3-rgb) !important;
  --tp-color-contrast: var(--tp-color-contrast-fixed) !important;
  --tp-color-contrast-rgb: var(--tp-color-contrast-fixed-rgb) !important;
  --tp-color-shade: var(--tp-color-provas-3-shade) !important;
  --tp-color-tint: var(--tp-color-provas-3-tint) !important;
}

.tp-color-provas-4,
[tp-color='provas-4'] {
  --tp-color-base: var(--tp-color-provas-4) !important;
  --tp-color-base-rgb: var(--tp-color-provas-4-rgb) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --tp-color-shade: var(--tp-color-provas-4-shade) !important;
  --tp-color-tint: var(--tp-color-provas-4-tint) !important;
}

.tp-color-provas-5,
[tp-color='provas-5'] {
  --tp-color-base: var(--tp-color-provas-5) !important;
  --tp-color-base-rgb: var(--tp-color-provas-5-rgb) !important;
  --tp-color-contrast: var(--tp-color-neutral-1) !important;
  --tp-color-contrast-rgb: var(--tp-color-neutral-1-rgb) !important;
  --tp-color-shade: var(--tp-color-provas-5-shade) !important;
  --tp-color-tint: var(--tp-color-provas-5-tint) !important;
} /*# sourceMappingURL=medsoft.css.map */
