@use 'sass:color';
@use 'sass:map';

$tp-color-neutral-1: #121616; // hsl(188, 10%, 8%);
$tp-color-neutral-10: #f9fafa; // hsl(188, 10%, 98%);

$tp-color-neutral: (
  neutral-1: (
    base: #121616,
    contrast: $tp-color-neutral-10,
    shade: #070808,
    tint: #1e2424,
  ),
  neutral-10: (
    base: #f9fafa,
    contrast: $tp-color-neutral-1,
    shade: #ebeeef,
    tint: #fff,
  ),
);

.teste {
  color: hsl(188, 10%, 58%);
}
