:root {
  --tp-color-aula-hue: 168;
  --tp-color-material-hue: 24;
  --tp-color-questoes-hue: 200;
  --tp-color-revalida-hue: 342;
  --tp-color-provas-hue: 268;
}

:root {
  --tp-color-aula: var(--tp-color-aula-hue), var(--tp-color-saturation), var(--tp-color-luminosity-3);
  --tp-color-aula-1: var(--tp-color-aula-hue), var(--tp-color-saturation), var(--tp-color-luminosity-1);
  --tp-color-aula-2: var(--tp-color-aula-hue), var(--tp-color-saturation), var(--tp-color-luminosity-2);
  --tp-color-aula-3: var(--tp-color-aula-hue), var(--tp-color-saturation), var(--tp-color-luminosity-3);
  --tp-color-aula-4: var(--tp-color-aula-hue), var(--tp-color-saturation), var(--tp-color-luminosity-4);
  --tp-color-aula-5: var(--tp-color-aula-hue), var(--tp-color-saturation), var(--tp-color-luminosity-5);
  --tp-color-material: var(--tp-color-material-hue), var(--tp-color-saturation), var(--tp-color-luminosity-3);
  --tp-color-material-1: var(--tp-color-material-hue), var(--tp-color-saturation), var(--tp-color-luminosity-1);
  --tp-color-material-2: var(--tp-color-material-hue), var(--tp-color-saturation), var(--tp-color-luminosity-2);
  --tp-color-material-3: var(--tp-color-material-hue), var(--tp-color-saturation), var(--tp-color-luminosity-3);
  --tp-color-material-4: var(--tp-color-material-hue), var(--tp-color-saturation), var(--tp-color-luminosity-4);
  --tp-color-material-5: var(--tp-color-material-hue), var(--tp-color-saturation), var(--tp-color-luminosity-5);
  --tp-color-questoes: var(--tp-color-questoes-hue), var(--tp-color-saturation), var(--tp-color-luminosity-3);
  --tp-color-questoes-1: var(--tp-color-questoes-hue), var(--tp-color-saturation), var(--tp-color-luminosity-1);
  --tp-color-questoes-2: var(--tp-color-questoes-hue), var(--tp-color-saturation), var(--tp-color-luminosity-2);
  --tp-color-questoes-3: var(--tp-color-questoes-hue), var(--tp-color-saturation), var(--tp-color-luminosity-3);
  --tp-color-questoes-4: var(--tp-color-questoes-hue), var(--tp-color-saturation), var(--tp-color-luminosity-4);
  --tp-color-questoes-5: var(--tp-color-questoes-hue), var(--tp-color-saturation), var(--tp-color-luminosity-5);
  --tp-color-revalida: var(--tp-color-revalida-hue), var(--tp-color-saturation), var(--tp-color-luminosity-3);
  --tp-color-revalida-1: var(--tp-color-revalida-hue), var(--tp-color-saturation), var(--tp-color-luminosity-1);
  --tp-color-revalida-2: var(--tp-color-revalida-hue), var(--tp-color-saturation), var(--tp-color-luminosity-2);
  --tp-color-revalida-3: var(--tp-color-revalida-hue), var(--tp-color-saturation), var(--tp-color-luminosity-3);
  --tp-color-revalida-4: var(--tp-color-revalida-hue), var(--tp-color-saturation), var(--tp-color-luminosity-4);
  --tp-color-revalida-5: var(--tp-color-revalida-hue), var(--tp-color-saturation), var(--tp-color-luminosity-5);
  --tp-color-provas: var(--tp-color-provas-hue), var(--tp-color-saturation), var(--tp-color-luminosity-3);
  --tp-color-provas-1: var(--tp-color-provas-hue), var(--tp-color-saturation), var(--tp-color-luminosity-1);
  --tp-color-provas-2: var(--tp-color-provas-hue), var(--tp-color-saturation), var(--tp-color-luminosity-2);
  --tp-color-provas-3: var(--tp-color-provas-hue), var(--tp-color-saturation), var(--tp-color-luminosity-3);
  --tp-color-provas-4: var(--tp-color-provas-hue), var(--tp-color-saturation), var(--tp-color-luminosity-4);
  --tp-color-provas-5: var(--tp-color-provas-hue), var(--tp-color-saturation), var(--tp-color-luminosity-5);
}

.ion-color-aula {
  --ion-color-base: hsl(var(--tp-color-aula));
  --ion-color-base-rgb: var(--tp-color-aula);
  --ion-color-contrast: hsl(var(--tp-color-neutral-10));
}

.ion-color-aula-1 {
  --ion-color-base: hsl(var(--tp-color-aula-1));
  --ion-color-base-rgb: var(--tp-color-aula-1);
  --ion-color-contrast: hsl(var(--tp-color-neutral-10));
}

.ion-color-aula-2 {
  --ion-color-base: hsl(var(--tp-color-aula-2));
  --ion-color-base-rgb: var(--tp-color-aula-2);
  --ion-color-contrast: hsl(var(--tp-color-neutral-10));
}

.ion-color-aula-3 {
  --ion-color-base: hsl(var(--tp-color-aula-3));
  --ion-color-base-rgb: var(--tp-color-aula-3);
  --ion-color-contrast: hsl(var(--tp-color-neutral-10));
}

.ion-color-aula-4 {
  --ion-color-base: hsl(var(--tp-color-aula-4));
  --ion-color-base-rgb: var(--tp-color-aula-4);
  --ion-color-contrast: hsl(var(--tp-color-neutral-1));
}

.ion-color-aula-5 {
  --ion-color-base: hsl(var(--tp-color-aula-5));
  --ion-color-base-rgb: var(--tp-color-aula-5);
  --ion-color-contrast: hsl(var(--tp-color-neutral-1));
}

.ion-color-material {
  --ion-color-base: hsl(var(--tp-color-material));
  --ion-color-base-rgb: var(--tp-color-material);
  --ion-color-contrast: hsl(var(--tp-color-neutral-10));
}

.ion-color-material-1 {
  --ion-color-base: hsl(var(--tp-color-material-1));
  --ion-color-base-rgb: var(--tp-color-material-1);
  --ion-color-contrast: hsl(var(--tp-color-neutral-10));
}

.ion-color-material-2 {
  --ion-color-base: hsl(var(--tp-color-material-2));
  --ion-color-base-rgb: var(--tp-color-material-2);
  --ion-color-contrast: hsl(var(--tp-color-neutral-10));
}

.ion-color-material-3 {
  --ion-color-base: hsl(var(--tp-color-material-3));
  --ion-color-base-rgb: var(--tp-color-material-3);
  --ion-color-contrast: hsl(var(--tp-color-neutral-10));
}

.ion-color-material-4 {
  --ion-color-base: hsl(var(--tp-color-material-4));
  --ion-color-base-rgb: var(--tp-color-material-4);
  --ion-color-contrast: hsl(var(--tp-color-neutral-1));
}

.ion-color-material-5 {
  --ion-color-base: hsl(var(--tp-color-material-5));
  --ion-color-base-rgb: var(--tp-color-material-5);
  --ion-color-contrast: hsl(var(--tp-color-neutral-1));
}

.ion-color-questoes {
  --ion-color-base: hsl(var(--tp-color-questoes));
  --ion-color-base-rgb: var(--tp-color-questoes);
  --ion-color-contrast: hsl(var(--tp-color-neutral-10));
}

.ion-color-questoes-1 {
  --ion-color-base: hsl(var(--tp-color-questoes-1));
  --ion-color-base-rgb: var(--tp-color-questoes-1);
  --ion-color-contrast: hsl(var(--tp-color-neutral-10));
}

.ion-color-questoes-2 {
  --ion-color-base: hsl(var(--tp-color-questoes-2));
  --ion-color-base-rgb: var(--tp-color-questoes-2);
  --ion-color-contrast: hsl(var(--tp-color-neutral-10));
}

.ion-color-questoes-3 {
  --ion-color-base: hsl(var(--tp-color-questoes-3));
  --ion-color-base-rgb: var(--tp-color-questoes-3);
  --ion-color-contrast: hsl(var(--tp-color-neutral-10));
}

.ion-color-questoes-4 {
  --ion-color-base: hsl(var(--tp-color-questoes-4));
  --ion-color-base-rgb: var(--tp-color-questoes-4);
  --ion-color-contrast: hsl(var(--tp-color-neutral-1));
}

.ion-color-questoes-5 {
  --ion-color-base: hsl(var(--tp-color-questoes-5));
  --ion-color-base-rgb: var(--tp-color-questoes-5);
  --ion-color-contrast: hsl(var(--tp-color-neutral-1));
}

.ion-color-revalida {
  --ion-color-base: hsl(var(--tp-color-revalida));
  --ion-color-base-rgb: var(--tp-color-revalida);
  --ion-color-contrast: hsl(var(--tp-color-neutral-10));
}

.ion-color-revalida-1 {
  --ion-color-base: hsl(var(--tp-color-revalida-1));
  --ion-color-base-rgb: var(--tp-color-revalida-1);
  --ion-color-contrast: hsl(var(--tp-color-neutral-10));
}

.ion-color-revalida-2 {
  --ion-color-base: hsl(var(--tp-color-revalida-2));
  --ion-color-base-rgb: var(--tp-color-revalida-2);
  --ion-color-contrast: hsl(var(--tp-color-neutral-10));
}

.ion-color-revalida-3 {
  --ion-color-base: hsl(var(--tp-color-revalida-3));
  --ion-color-base-rgb: var(--tp-color-revalida-3);
  --ion-color-contrast: hsl(var(--tp-color-neutral-10));
}

.ion-color-revalida-4 {
  --ion-color-base: hsl(var(--tp-color-revalida-4));
  --ion-color-base-rgb: var(--tp-color-revalida-4);
  --ion-color-contrast: hsl(var(--tp-color-neutral-1));
}

.ion-color-revalida-5 {
  --ion-color-base: hsl(var(--tp-color-revalida-5));
  --ion-color-base-rgb: var(--tp-color-revalida-5);
  --ion-color-contrast: hsl(var(--tp-color-neutral-1));
}

.ion-color-provas {
  --ion-color-base: hsl(var(--tp-color-provas));
  --ion-color-base-rgb: var(--tp-color-provas);
  --ion-color-contrast: hsl(var(--tp-color-neutral-10));
}

.ion-color-provas-1 {
  --ion-color-base: hsl(var(--tp-color-provas-1));
  --ion-color-base-rgb: var(--tp-color-provas-1);
  --ion-color-contrast: hsl(var(--tp-color-neutral-10));
}

.ion-color-provas-2 {
  --ion-color-base: hsl(var(--tp-color-provas-2));
  --ion-color-base-rgb: var(--tp-color-provas-2);
  --ion-color-contrast: hsl(var(--tp-color-neutral-10));
}

.ion-color-provas-3 {
  --ion-color-base: hsl(var(--tp-color-provas-3));
  --ion-color-base-rgb: var(--tp-color-provas-3);
  --ion-color-contrast: hsl(var(--tp-color-neutral-10));
}

.ion-color-provas-4 {
  --ion-color-base: hsl(var(--tp-color-provas-4));
  --ion-color-base-rgb: var(--tp-color-provas-4);
  --ion-color-contrast: hsl(var(--tp-color-neutral-1));
}

.ion-color-provas-5 {
  --ion-color-base: hsl(var(--tp-color-provas-5));
  --ion-color-base-rgb: var(--tp-color-provas-5);
  --ion-color-contrast: hsl(var(--tp-color-neutral-1));
}

/*# sourceMappingURL=templarios.medsoft.theme.css.map */
